<app-heading sectionName="Photos"></app-heading>

<form [formGroup]="form">
    <div class="card-grid">
        <mat-card formGroupName="page">
            <mat-card-title>Photo Category Page</mat-card-title>
            <mat-card-content>
                <mat-card-subtitle>View Mode</mat-card-subtitle>
                <mat-radio-group formControlName="viewMode">
                    <mat-radio-button
                        *ngFor="let mode of viewModes"
                        [value]="mode.value"
                        >{{ mode.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <mat-card-subtitle>Slideshow Display Duration</mat-card-subtitle>
                <mat-form-field>
                    <mat-label>Duration (seconds)</mat-label>
                    <mat-select formControlName="slideshowDuration">
                        <mat-option
                            *ngFor="let duration of slideshowDurations"
                            [value]="duration"
                            >{{ duration }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <mat-card formGroupName="detail">
            <mat-card-title>Detail View</mat-card-title>
            <mat-card-content>
                <mat-card-subtitle>Show Breadcrumbs</mat-card-subtitle>
                <mat-slide-toggle
                    formControlName="showBreadcrumbs"
                ></mat-slide-toggle>

                <mat-card-subtitle>Show Photo List</mat-card-subtitle>
                <mat-slide-toggle
                    formControlName="showPhotoList"
                ></mat-slide-toggle>

                <mat-card-subtitle>Thumbnail Size</mat-card-subtitle>
                <mat-radio-group formControlName="thumbnailSize">
                    <mat-radio-button
                        *ngFor="let size of thumbnailSizes"
                        [value]="size.value"
                        >{{ size.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <div formGroupName="infoPanel">
                    <mat-card-subtitle>Info Panel</mat-card-subtitle>
                    <mat-checkbox formControlName="expandedState"
                        >Show Info Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showRatings"
                        >Show Ratings Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showComments"
                        >Show Comments Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showExif"
                        >Show EXIF Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showHistogram"
                        >Show Histogram Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showEffects"
                        >Show Effects Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showMinimap"
                        >Show Mini-map Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showMetadataEditor"
                        >Show Metadata Editor Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showCategoryTeaserChooser"
                        >Show Category Teaser Chooser Panel</mat-checkbox
                    >

                    <mat-card-subtitle>Map Type</mat-card-subtitle>
                    <mat-radio-group formControlName="minimapType">
                        <mat-radio-button
                            *ngFor="let type of mapTypes"
                            [value]="type.value"
                            >{{ type.name }}</mat-radio-button
                        >
                    </mat-radio-group>

                    <mat-card-subtitle>Map Zoom Level</mat-card-subtitle>
                    <mat-form-field>
                        <mat-label>Zoom</mat-label>
                        <mat-select formControlName="minimapZoom">
                            <mat-option
                                *ngFor="let zoom of zoomLevels"
                                [value]="zoom.value"
                                >{{ zoom.name }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card formGroupName="grid">
            <mat-card-title>Grid View</mat-card-title>
            <mat-card-content>
                <mat-card-subtitle>Show Breadcrumbs</mat-card-subtitle>
                <mat-slide-toggle
                    formControlName="showBreadcrumbs"
                ></mat-slide-toggle>

                <mat-card-subtitle>Margin</mat-card-subtitle>
                <mat-radio-group formControlName="margin">
                    <mat-radio-button
                        *ngFor="let margin of margins"
                        [value]="margin.value"
                        >{{ margin.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <mat-card-subtitle>Thumbnail Size</mat-card-subtitle>
                <mat-radio-group formControlName="thumbnailSize">
                    <mat-radio-button
                        *ngFor="let size of thumbnailSizes"
                        [value]="size.value"
                        >{{ size.name }}</mat-radio-button
                    >
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card formGroupName="map">
            <mat-card-title>Map View</mat-card-title>
            <mat-card-content>
                <mat-card-subtitle>Map Type</mat-card-subtitle>
                <mat-radio-group formControlName="mapType">
                    <mat-radio-button
                        *ngFor="let type of mapTypes"
                        [value]="type.value"
                        >{{ type.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <mat-card-subtitle>Zoom Level</mat-card-subtitle>
                <mat-form-field>
                    <mat-label>Zoom</mat-label>
                    <mat-select formControlName="zoom">
                        <mat-option
                            *ngFor="let zoom of zoomLevels"
                            [value]="zoom.value"
                            >{{ zoom.name }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>

    <app-submit-buttons (save)="onSave()" (cancel)="onCancel()">
    </app-submit-buttons>
</form>
