<div *ngFor="let comment of comments" class="comment-container">
    <div fxLayout="row" class="comment-head">
        <span fxFlex>
            {{ comment.username }}
        </span>
        <span fxFlex fxFlexAlign="end">
            {{ comment.entryDate | date : 'MM/dd/yyyy' }}
        </span>
    </div>
    <mat-divider></mat-divider>
    <div class="comment">
        {{ comment.commentText }}
    </div>
</div>

<form [formGroup]="form">
    <mat-form-field appearance="standard" class="comment-input">
        <textarea matInput formControlName="comment" placeholder="Add Comment" rows="3"></textarea>
    </mat-form-field>

    <button mat-button (click)="onComment()" color="primary">Save</button>
    <button mat-button (click)="onCancel()" color="accent">Cancel</button>
</form>
