.comment-container {
    margin-top: 4px;
    margin-bottom: 8px;
}

.comment-head {
    padding: 2px 8px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;
}

.comment {
    padding: 2px 8px;
}

.comment-input {
    width: 100%;
}
