.comment-container {
    margin-top: 4px;
    margin-bottom: 8px;
}

.comment-head {
    background-color: #cccccc20;
    padding: 2px 8px;
}

.comment {
    padding: 2px 8px;
}

.comment-input {
    width: 100%;
}
