@use '~@angular/material' as mat;

@mixin app-photos-grid-view-component-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background, background);

    app-photos-grid-view {
        & .photo-overlay {
            background-color: rgba($background, 0.92);
        }

        & .photo-grid a:hover {
            border: 1px solid mat.get-color-from-palette($accent, 300);
        }
    }
}
