<app-layout-toolbar *ngIf="gridSettings$ | async; let gridSettings">
    <app-photos-grid-view-toolbar
        [isRandom]="isRandomView$ | async"
        layout-toolbar
    ></app-photos-grid-view-toolbar>

    <div layout-main>
        <div *ngIf="(activePhoto$ | async) !== null" style="width: 100%; height: 100%; position:absolute; top:0; left:0; z-index:200; background-color: #000;">
            <router-outlet></router-outlet>
        </div>

        <app-shared-content-margin
            [margin]="gridSettings.margin"
        >
            <app-grid-category-header *ngIf="(gridSettings$ | async)?.showBreadcrumbs"></app-grid-category-header>

            <div class="photo-grid">
                <a
                    *ngFor="let photo of photos$ | async"
                    [routerLink]="[photo.id]"
                    (click)="trackScrollPosition()"
                >
                    <img
                        [ngClass]="
                            gridSettings.thumbnailSize | thumbnailSizeClass
                        "
                        [src]="photo.imageXsSq.url"
                        loading="lazy"
                    />
                </a>
            </div>
        </app-shared-content-margin>
    </div>
</app-layout-toolbar>
