<div class="main-grid">
    <div class="mat-elevation-z4" @toolbarFadeIn>
        <app-search-toolbar></app-search-toolbar>
    </div>

    <div class="content-scroll-pane">
        <div class="content-scroll-pane-content" [ngClass]="(margin$ | async).klass">
            <app-search-form></app-search-form>

            <mat-divider mat-color="accent"></mat-divider>

            <app-category-list
                *ngIf="showListView$ | async"
                [categories]="categories$ | async"
                [showYears]="true"
                [thumbnailSize]="listThumbnailSize$ | async">
            </app-category-list>

            <app-category-grid
                *ngIf="showGridView$ | async"
                [showTitles]="gridShowTitles$ | async"
                [showYears]="gridShowYears$ | async"
                [thumbnailSize]="gridThumbnailSize$ | async"
                [categories]="categories$ | async">
            </app-category-grid>

            <app-result-count
                *ngIf="(totalResults$ | async) > 0"
                [resultsShownCount]="shownResults$ | async"
                [totalCount]="totalResults$ | async">
            </app-result-count>

            <app-search-more
                *ngIf="hasMoreResults$ | async">
            </app-search-more
            >
        </div>
    </div>
</div>
