.main-grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
    height: 100vh;
}

.category-margin-ten {
    margin-left: 10%;
    margin-right: 10%;
}

.category-margin-twenty {
    margin-left: 20%;
    margin-right: 20%;
}

.category-margin-thirty {
    margin-left: 30%;
    margin-right: 30%;
}

.no-results {
    margin-top: 12px;
}

app-result-count {
    display: block;
    text-align: right;
    margin: 12px 0;
}

@media (max-width: 800px) {
    .main-grid {
        grid-template-columns: 100%;
        grid-template-rows: max-content auto;
    }
}
