<div class="main-grid">
    <div class="mat-elevation-z4" @toolbarFadeIn>
        <app-search-toolbar></app-search-toolbar>
    </div>

    <div class="content-scroll-pane">
        <div class="content-scroll-pane-content" [ngClass]="(margin$ | async).klass">
            <div class="filter-grid">
                <form [formGroup]="form">
                    <mat-form-field appearance="standard">
                        <mat-label>Search Terms</mat-label>
                        <input type="search" matInput formControlName="query" (keyup.enter)="onSearch()" />
                    </mat-form-field>
                </form>
            </div>

            <mat-divider mat-color="accent"></mat-divider>

            <app-category-list
                *ngIf="showListView$ | async"
                [categories]="categories$ | async"
                [showYears]="true"
                [thumbnailSize]="listThumbnailSize$ | async">
            </app-category-list>

            <app-category-grid
                *ngIf="showGridView$ | async"
                [showTitles]="gridShowTitles$ | async"
                [showYears]="gridShowYears$ | async"
                [thumbnailSize]="gridThumbnailSize$ | async"
                [categories]="categories$ | async">
            </app-category-grid>

        </div>
    </div>
</div>
