:host {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;
    margin: 0 12px;
}

:host ::ng-deep form {
    //margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 100%;
    grid-column-gap: 8px;

    & mat-radio-button {
        margin-right: 4px;
    }

    & label {
        margin-right: 16px;
        padding-left: 0;
    }
}

div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content max-content auto;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
