<div class="main-grid">
    <div class="mat-elevation-z8">
        <h2>Settings</h2>
        <app-category-list-toolbar></app-category-list-toolbar>
    </div>

    <div [ngClass]="(margin$ | async).klass">
        <div class="filter-grid">
            <app-category-year-filter></app-category-year-filter>
            <app-category-type-filter></app-category-type-filter>
        </div>
        <div *ngFor="let year of years$ | async">
            <app-year [year]="year"></app-year>
        </div>
    </div>
</div>
