<div>
    <app-category-list-toolbar [ngClass.lt-md]="{ 'top_pad': true}"></app-category-list-toolbar>

    <ng-container *ngIf="yearFilterEnabled$ | async">
        <form [formGroup]="form" [ngClass]="(margin$ | async).klass" fxLayout fxLayoutAlign="start center">
            <mat-form-field appearance="standard">
                <mat-label>Year</mat-label>
                <mat-select formControlName="yearSelect" (selectionChange)="onSelectYear($event)">
                    <mat-option *ngFor="let year of allYears$ | async" [value]="year">{{ year }}</mat-option>
                </mat-select>
            </mat-form-field>

            <span style="margin-left: auto;">
                Current Filter:
            </span>
            <mat-icon inline="true" *ngIf="showCamera$ | async">camera_alt</mat-icon>
            <mat-icon inline="true" *ngIf="showVideoCamera$ | async">videocam</mat-icon>
        </form>
    </ng-container>

    <div *ngFor="let year of years$ | async" [ngClass]="(margin$ | async).klass">
        <app-year [year]="year" [showYear]="(yearFilterEnabled$ | async) === (false || null || undefined)"></app-year>
    </div>
</div>
