@import '../../../variables';

form mat-icon {
    margin-left: 12px;
    font-size: 24px;
}

app-shared-content-margin {
    padding: $contentPad;
    overflow-y: auto;
    overflow-x: hidden;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-template-rows: max-content;
    grid-column-gap: 24px;
    justify-content: center;
    align-items: center;
}
