form mat-icon {
    margin-left: 12px;
    font-size: 24px;
}

.category-margin-ten {
    margin-left: 10%;
    margin-right: 10%;
}

.category-margin-twenty {
    margin-left: 20%;
    margin-right: 20%;
}

.category-margin-thirty {
    margin-left: 30%;
    margin-right: 30%;
}

.main-grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
    height: 100vh;
}

.filter-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    grid-column-gap: 24px;
    justify-content: center;
}

@media (max-width: 800px) {
    .main-grid {
        grid-template-columns: 100%;
        grid-template-rows: max-content auto;
    }
}
