<app-toolbar>
    <app-toolbar-group>
        <app-move-previous-button (movePrevious)="onMovePrevious()" [atStartOfList]="isFirst$ | async"></app-move-previous-button>
        <app-move-next-button (moveNext)="onMoveNext()" [atEndOfList]="isLast$ | async"></app-move-next-button>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-toolbar-button
            [icon]="'switch_video'"
            [shortcutKey]="'v'"
            [shortcutHelp]="'Toggle Video Size'"
            [tooltip]="'Toggle video size (V)'"
            (click)="onToggleVideoSize()">
        </app-toolbar-button>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-toolbar-button
            [hideOnMobile]="true"
            [icon]="'title'"
            [shortcutKey]="'t'"
            [shortcutHelp]="'Show/Hide Category Breadcrumbs'"
            [tooltip]="'Show/Hide Category Breadcrumbs (T)'"
            (click)="onToggleCategoryBreadcrumbs()">
        </app-toolbar-button>

        <app-toolbar-button
            [hideOnMobile]="true"
            [icon]="'visibility'"
            [shortcutKey]="'l'"
            [shortcutHelp]="'Show/Hide Video List'"
            [tooltip]="'Show/Hide Video List (L)'"
            (click)="onToggleShowVideoList()">
        </app-toolbar-button>

        <app-toolbar-button
            [icon]="'photo_size_select_large'"
            [shortcutKey]="'s'"
            [shortcutHelp]="'Toggle Video List Thumbnail Size'"
            [tooltip]="'Toggle Video List Thumbnail Size (S)'"
            (click)="onToggleThumbnailSize()">
        </app-toolbar-button>
    </app-toolbar-group>
</app-toolbar>
