table {
    width: 100%;
}

tr {
    & mat-icon {
        vertical-align: middle;
    }

    & td.mat-column-icon {
        width: 50px;
    }

    & td.mat-column-thumbnail {
        width: 182px;

        &.thumb-small {
            width: 142px;
        }

        &.thumb-very-small {
            width: 102px;
        }

        &.thumb-tiny {
            width: 62px;
        }
    }

    & img {
        margin: 4px;
        vertical-align: middle;
        width: 160px;
        height: 120px;
        filter: saturate(0.4);

        &.thumb-small {
            width: 120px;
            height: 90px;
        }

        &.thumb-very-small {
            width: 80px;
            height: 60px;
        }

        &.thumb-tiny {
            width: 40px;
            height: 30px;
        }
    }

    &:hover {
        cursor: pointer;

        & img {
            filter: saturate(1.0);
        }
    }
}
