@import '~@angular/material/theming';

@mixin app-sidebar-button-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-sidebar-button button {
        cursor: pointer;
    }

    app-sidebar-button button:enabled:hover,
    app-sidebar-button button:enabled.active {
        background-color: rgba(mat-color($accent, 700), .42);
        color: mat-color($accent, 100);
    }
}
