<div class="toolbar">
    <div class="toolbar">
        <app-move-previous-button (movePrevious)="onMovePrevious()" [atStartOfList]="isFirst$ | async" #movePreviousButton></app-move-previous-button>
        <app-move-next-button (moveNext)="onMoveNext()" [atEndOfList]="isLast$ | async" #moveNextButton></app-move-next-button>
    </div>

    <mat-divider></mat-divider>

    <div class="toolbar">
        <button
            mat-button
            matTooltip="Exit Map View (Z)"
            class="toolbar-button"
            (click)="onToggleMapView()"
            #mapViewButton>
            <mat-icon [inline]="true">map</mat-icon>
        </button>
    </div>
</div>
