<app-layout-toolbar-sidebar>
    <app-photos-map-toolbar layout-toolbar></app-photos-map-toolbar>

    <ng-container
        layout-main
        *ngIf="{
            settings: settings$ | async,
            appTheme: appTheme$ | async
        } as data"
    >
        <app-shared-map-view
            [activePhoto]="activePhoto$ | async"
            [images]="mapImages$ | async"
            [mapType]="data.settings?.mapType"
            [useDarkTheme]="data.appTheme | themeIsDark"
            [zoom]="data.settings?.zoom"
            (mapTypeChange)="onMapTypeIdChange($event)"
            (zoomChange)="onZoomChange($event)"
            (selectPhoto)="onSelectPhoto($event)"
        >
        </app-shared-map-view>
    </ng-container>

    <app-photos-detail-sidebar layout-sidebar></app-photos-detail-sidebar>
</app-layout-toolbar-sidebar>
