@use '@angular/material' as mat;

@mixin app-photos-toolbar-download-button-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-photos-toolbar-download-button button:enabled:hover {
        background-color: rgba(mat.get-color-from-palette($accent, 700), .42);
        color: mat.get-color-from-palette($accent, 100);
    }
}
