@import '~@angular/material/theming';

@mixin app-photo-info-panel-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-photo-info-panel {
        & .toolbar-grid {
            background-color: rgba(mat-color($accent, 700), .2);
        }

        & .content-scroll-pane {
            background-color: rgba(mat-color($accent, 700), .1);
        }
    }
}
