<div>
    <button class="menu-button" mat-button (click)="toggleEndSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
</div>

<div *ngIf="endSidenavExpanded" class="panel-contents">
    <div fxLayout="row">
        <div fxLayout="column" fxFlexAlign="flex-start center" class="toolbar">
            <button mat-button [class.notactive]="!showRating" (click)="showRating = !showRating">
                <mat-icon [inline]="true">star</mat-icon>
            </button>
            <button mat-button [class.notactive]="!showComments" (click)="showComments = !showComments">
                <mat-icon [inline]="true">comment</mat-icon>
            </button>
            <button mat-button [class.notactive]="!showExif" (click)="showExif = !showExif">
                <mat-icon [inline]="true">tune</mat-icon>
            </button>
            <button mat-button [class.notactive]="!showEffects" (click)="showEffects = !showEffects">
                <mat-icon [inline]="true">photo_filter</mat-icon>
            </button>
        </div>
        <div fxLayout="column" class="widget-container">
            <app-rating
                class="widget"
                *ngIf="showRating"
                [yourRating]="(rating$ | async)?.userRating"
                [avgRating]="(rating$ | async)?.averageRating"
                (rate)="onRate($event)">
            </app-rating>

            <app-comments
                class="widget"
                *ngIf="showComments"
                [comments]="comments$ | async"
                (comment)="onComment($event)"
                #comments>
            </app-comments>

            <app-exif
                class="widget"
                *ngIf="showExif"
                [exif]="exif$ | async">
            </app-exif>

            <app-effects
                class="widget"
                *ngIf="showEffects"
                [effects]="effects$ | async"
                (rotateClockwise)="rotateClockwise()"
                (rotateCounterClockwise)="rotateCounterClockwise()"
                (resetEffects)="onResetEffects()"
                (updateEffects)="onUpdateEffects($event)">
            </app-effects>

            <div class="widget">minimap</div>
        </div>
    </div>
</div>
