<div fxLayout fxLayout.lt-md="column" [ngClass.gt-sm]="{ 'vertical': true }" [ngClass.lt-md]="{ 'horizontal': true }">
    <div *ngIf="enableButtons$ | async" class="panel-contents" fxLayout="column" fxLayout.lt-md="row" fxFlexOrder.lt-md="2">
        <div fxLayout="column" fxFlex="1 1 auto">
            <div *ngIf="showRatings$ | async" class="panel-heading" fxFlex="none">Rating</div>
            <app-rating
                class="widget"
                *ngIf="showRatings$ | async"
                [yourRating]="(rating$ | async)?.userRating"
                [avgRating]="(rating$ | async)?.averageRating"
                (rate)="onRate($event)">
            </app-rating>

            <div *ngIf="showComments$ | async" class="panel-heading" fxFlex="none">Comments</div>
            <app-comments
                fxFlex
                class="widget"
                *ngIf="showComments$ | async"
                [comments]="comments$ | async"
                (comment)="onComment($event)"
                #comments>
            </app-comments>

            <div *ngIf="showExif$ | async" class="panel-heading" fxFlex="none">EXIF Data</div>
            <app-exif
                class="widget"
                *ngIf="showExif$ | async"
                [exifData]="exif$ | async">
            </app-exif>

            <div *ngIf="showEffects$ | async" class="panel-heading" fxFlex="none">Effects</div>
            <app-effects
                class="widget"
                *ngIf="showEffects$ | async"
                [effects]="effects$ | async"
                (resetEffects)="onResetEffects()"
                (updateEffects)="onUpdateEffects($event)">
            </app-effects>

            <div *ngIf="showHistogram$ | async" class="panel-heading" fxFlex="none">Histogram</div>
            <app-histogram
                class="widget"
                *ngIf="showHistogram$ | async"
                [photo]="currentPhoto">
            </app-histogram>

            <div *ngIf="showMinimap$ | async" class="panel-heading" fxFlex="none">Mini-map</div>
            <app-minimap
                class="widget"
                *ngIf="showMinimap$ | async"
                [lat]="latitude$ | async"
                [lng]="longitude$ | async"
                [mapTypeId]="minimapMapTypeId$ | async"
                [useDarkTheme]="minimapUseDarkTheme$ | async"
                [zoom]="minimapZoom$ | async"
                (mapTypeChange)="onMapTypeIdChange($event)"
                (zoomChange)="onZoomChange($event)">
            </app-minimap>
        </div>
    </div>

    <div fxLayout="column" fxLayout.lt-md="row" fxFlex="1 1 auto" fxFlexOrder.lt-md="1" class="toolbar" >
        <button
            class="menu-button"
            mat-button
            matTooltip="Show/Hide Info Panel (I)"
            matTooltipPosition="before"
            (click)="toggleEndSidenav()"
            fxHide.lt-md="1"
            #toggleInfoPanelButton>
            <mat-icon *ngIf="endSidenavExpanded$ | async" [inline]="true">chevron_right</mat-icon>
            <mat-icon *ngIf="(endSidenavExpanded$ | async) === (false | null | undefined)" [inline]="true">chevron_left</mat-icon>
        </button>

        <button
            mat-button
            matTooltip="Show/Hide Ratings (R)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === (false | null | undefined)"
            [class.active]="showRatings$ | async"
            (click)="toggleRatings()"
            #toggleRatingsButton>
            <mat-icon [inline]="true">star</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Comments (C)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === (false | null | undefined)"
            [class.active]="showComments$ | async"
            (click)="toggleComments()"
            #toggleCommentsButton>
            <mat-icon [inline]="true">comment</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide EXIF (W)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === (false | null | undefined)"
            [class.active]="showExif$ | async"
            (click)="toggleExif()"
            #toggleExifButton>
            <mat-icon [inline]="true">tune</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Histogram (H)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === (false | null | undefined)"
            [class.active]="showHistogram$ | async"
            (click)="toggleHistogram()"
            #toggleHistogramButton>
            <mat-icon [inline]="true">color_lens</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Effects (E)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === (false | null | undefined)"
            [class.active]="showEffects$ | async"
            (click)="toggleEffects()"
            #toggleEffectsButton>
            <mat-icon [inline]="true">photo_filter</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Mini-map (M)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === (false | null | undefined)"
            [class.active]="showMinimap$ | async"
            (click)="toggleMinimap()"
            #toggleMinimapButton>
            <mat-icon [inline]="true">map</mat-icon>
        </button>

        <span class="toolbar_title" fxHide.lt-md="1">Details</span>
    </div>
</div>
