<div class="info-panel">
    <div class="content-scroll-pane">
        <div *ngIf="enableButtons$ | async" class="info-panel-grid content-scroll-pane-content">
            <div *ngIf="showRatings$ | async" class="panel-heading">Rating</div>
            <app-rating
                class="widget"
                *ngIf="showRatings$ | async"
                [yourRating]="(rating$ | async)?.userRating"
                [avgRating]="(rating$ | async)?.averageRating"
                (rate)="onRate($event)">
            </app-rating>

            <div *ngIf="showComments$ | async" class="panel-heading">Comments</div>
            <app-comments
                class="widget"
                *ngIf="showComments$ | async"
                [comments]="comments$ | async"
                (comment)="onComment($event)"
                #comments>
            </app-comments>

            <div *ngIf="showExif$ | async" class="panel-heading">EXIF Data</div>
            <app-exif
                class="widget"
                *ngIf="showExif$ | async"
                [exifData]="exif$ | async">
            </app-exif>

            <div *ngIf="showEffects$ | async" class="panel-heading">Effects</div>
            <app-effects
                class="widget"
                *ngIf="showEffects$ | async"
                [effects]="effects$ | async"
                (resetEffects)="onResetEffects()"
                (updateEffects)="onUpdateEffects($event)">
            </app-effects>

            <div *ngIf="showHistogram$ | async" class="panel-heading">Histogram</div>
            <app-histogram
                class="widget"
                *ngIf="showHistogram$ | async"
                [photo]="currentPhoto">
            </app-histogram>

            <div *ngIf="showMinimap$ | async" class="panel-heading">Mini-map</div>
            <app-minimap
                class="widget"
                *ngIf="showMinimap$ | async"
                [lat]="latitude$ | async"
                [lng]="longitude$ | async"
                [mapTypeId]="minimapMapTypeId$ | async"
                [useDarkTheme]="minimapUseDarkTheme$ | async"
                [zoom]="minimapZoom$ | async"
                (mapTypeChange)="onMapTypeIdChange($event)"
                (zoomChange)="onZoomChange($event)">
            </app-minimap>
        </div>
    </div>

    <div class="toolbar-grid" >
        <button
            class="menu-button"
            mat-button
            matTooltip="Show/Hide Info Panel (I)"
            matTooltipPosition="before"
            (click)="toggleEndSidenav()"
            #toggleInfoPanelButton>
            <mat-icon *ngIf="endSidenavExpanded$ | async" [inline]="true">chevron_right</mat-icon>
            <mat-icon *ngIf="(endSidenavExpanded$ | async) === false" [inline]="true">chevron_left</mat-icon>
        </button>

        <mat-divider></mat-divider>

        <button
            mat-button
            matTooltip="Show/Hide Ratings (R)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === false"
            [class.active]="showRatings$ | async"
            (click)="toggleRatings()"
            #toggleRatingsButton>
            <mat-icon [inline]="true">star</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Comments (C)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === false"
            [class.active]="showComments$ | async"
            (click)="toggleComments()"
            #toggleCommentsButton>
            <mat-icon [inline]="true">comment</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide EXIF (W)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === false"
            [class.active]="showExif$ | async"
            (click)="toggleExif()"
            #toggleExifButton>
            <mat-icon [inline]="true">tune</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Histogram (H)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === false"
            [class.active]="showHistogram$ | async"
            (click)="toggleHistogram()"
            #toggleHistogramButton>
            <mat-icon [inline]="true">color_lens</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Effects (E)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === false"
            [class.active]="showEffects$ | async"
            (click)="toggleEffects()"
            #toggleEffectsButton>
            <mat-icon [inline]="true">photo_filter</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Mini-map (M)"
            matTooltipPosition="before"
            [disabled]="(enableButtons$ | async) === false"
            [class.active]="showMinimap$ | async"
            (click)="toggleMinimap()"
            #toggleMinimapButton>
            <mat-icon [inline]="true">map</mat-icon>
        </button>
    </div>
</div>
