.menu-button {
    width: 100%;
}

.panel-contents {
    padding: 4px;
    min-width: 400px;
}

.mat-button {
    min-width: 28px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 4px;
    padding: 0;
}

.toolbar {
    background-color: #cc000033;
}

.panel-heading {
    background-color: #cc000033;
    padding-left: 4px;
}

.widget {
    margin-left: 4px;
    margin-bottom: 12px;
}

.notactive {
    color: #666;
}
