@import '~@angular/material/theming';

@mixin app-photo-info-panel-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-photo-info-panel {
        & .toolbar {
            background-color: rgba(mat-color($accent, 900), .3);
        }

        & .panel-heading {
            background-color: rgba(mat-color($accent, 900), .3);
        }

        & .toolbar_title {
            color: mat-color($accent, A200);
        }

        button {
            color: mat-color($accent);
            cursor: pointer;

            &:enabled.active {
                background-color: mat-color($accent, 900);
                color: mat-color($accent, 200);
            }

            &:enabled:hover {
                background-color: mat-color($accent, 700);
                color: mat-color($accent, 100);
            }
        }
    }
}
