.menu-button {
    width: 100%;
}

.panel-contents {
    padding: 0;
    width: 480px;
}

.mat-button {
    min-width: 28px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 4px;
    padding: 0;
}

.toolbar {
    background-color: #cc000033;
    height: 100vh;
}

.panel-heading {
    background-color: #cc000033;
    padding-left: 4px;
    width: 100%;
}

.widget {
    margin-left: 4px;
    margin-bottom: 12px;
    padding-right: 4px;
}

.notactive {
    color: #666;
}

.toolbar_title {
    transform: rotate(90deg);
    text-transform: uppercase;
    font-weight: 700;
    width: 14px;
    color: #999;
    margin: auto;
}
