@import '~@angular/material/theming';

@mixin app-photos-photo-list-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-photos-photo-list {
        & a {
            border: 1px solid transparent;

            &.selected {
                border: 1px solid mat-color($accent, 600);
            }

            &:hover {
                border: 1px solid mat-color($accent, 300);
            }
        }
    }
}
