:host {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    a {
        flex: 0 0 auto;
        margin-right: 2px;
    }

    & img {
        margin-bottom: -4px;
        filter: saturate(0.4);

        & .selected {
            filter: saturate(1.0);
        }

        & :hover {
            filter: saturate(1.0);
        }
    }
}
