<app-toolbar>
    <app-toolbar-group>
        <app-slideshow-button (toggleSlideshow)="onToggleSlideshow()"></app-slideshow-button>
        <app-move-previous-button (movePrevious)="onMovePrevious()" [atStartOfList]="isFirst$ | async"></app-move-previous-button>
        <app-move-next-button (moveNext)="onMoveNext()" [atEndOfList]="isLast$ | async"></app-move-next-button>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-toolbar-button
            [hideOnMobile]="true"
            [icon]="'fullscreen'"
            [shortcutKey]="'f'"
            [shortcutHelp]="'Enter Full Screen View'"
            [tooltip]="'Enter Full Screen View (F)'"
            (click)="onToggleFullscreen()">
        </app-toolbar-button>

        <app-toolbar-button
            *ngIf="enableMapView$ | async"
            [hideOnMobile]="true"
            [icon]="'map'"
            [shortcutKey]="'z'"
            [shortcutHelp]="'Enter Map View'"
            [tooltip]="'Enter Map View (Z)'"
            (click)="onToggleMapView()">
        </app-toolbar-button>

        <app-toolbar-button
            *ngIf="isAdmin$ | async"
            [hideOnMobile]="true"
            [icon]="'collections'"
            [shortcutKey]="'z'"
            [shortcutHelp]="'Enter Bulk Edit Mode'"
            [tooltip]="'Enter Bulk Edit Mode (B)'"
            (click)="onToggleBulkEditView()">
        </app-toolbar-button>

        <app-toolbar-external-link
            *ngIf="allowCategoryDownload && (category$ | async)?.downloadLink"
            [hideOnMobile]="true"
            [icon]="'save_alt'"
            [link]="(category$ | async)?.downloadLink"
            [tooltip]="'Download All Photos in Category (.zip)'">
        </app-toolbar-external-link>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-rotate-counter-clockwise-button></app-rotate-counter-clockwise-button>
        <app-rotate-clockwise-button></app-rotate-clockwise-button>

        <app-toolbar-external-link
            *ngIf="smDownloadUrl"
            [hideOnMobile]="true"
            [icon]="'photo'"
            [iconClass]="'icon-sm'"
            [link]="smDownloadUrl"
            [tooltip]="'Low Res Download'">
        </app-toolbar-external-link>

        <app-toolbar-external-link
            *ngIf="mdDownloadUrl"
            [icon]="'photo'"
            [iconClass]="'icon-md'"
            [link]="mdDownloadUrl"
            [tooltip]="'Medium Res Download'">
        </app-toolbar-external-link>

        <app-toolbar-external-link
            *ngIf="lgDownloadUrl"
            [hideOnMobile]="true"
            [icon]="'photo'"
            [link]="lgDownloadUrl"
            [tooltip]="'High Res Download'">
        </app-toolbar-external-link>

        <app-toolbar-external-link
            *ngIf="prtDownloadUrl"
            [icon]="'photo'"
            [link]="prtDownloadUrl"
            [tooltip]="'High Res Download (untouched)'">
        </app-toolbar-external-link>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-toolbar-button
            [hideOnMobile]="true"
            [icon]="'title'"
            [shortcutKey]="'t'"
            [shortcutHelp]="'Show/Hide Category Breadcrumbs'"
            [tooltip]="'Show/Hide Category Breadcrumbs (T)'"
            (click)="onToggleCategoryBreadcrumbs()">
        </app-toolbar-button>

        <app-toolbar-button
            [icon]="'visibility'"
            [shortcutKey]="'l'"
            [shortcutHelp]="'Show/Hide Photo List'"
            [tooltip]="'Show/Hide Photo List (L)'"
            (click)="onTogglePhotoList()">
        </app-toolbar-button>

        <app-toolbar-button
            [icon]="'photo_size_select_large'"
            [shortcutKey]="'s'"
            [shortcutHelp]="'Toggle Photo List Thumbnail Size'"
            [tooltip]="'Toggle Photo List Thumbnail Size (S)'"
            (click)="onToggleSize()">
        </app-toolbar-button>
    </app-toolbar-group>
</app-toolbar>
