<span class="category" *ngIf="isToolbarExpanded$ | async">
    <button
        mat-button
        matTooltip="Show/Hide Category Breadcrumbs (T)"
        (click)="onToggleCategoryBreadcrumbs()">
        <mat-icon [inline]="true">title</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Toggle Photo List Thumbnail Size (S)"
        (click)="onToggleSize()">
        <mat-icon [inline]="true">photo_size_select_large</mat-icon>
    </button>

    <a mat-button
        class="download"
        matTooltip="Download All Photos in Category (.zip)"
        target="_blank"
        *ngIf="allowCategoryDownload && categoryDownloadUrl"
        [href]="categoryDownloadUrl">
        <mat-icon [inline]="true">save_alt</mat-icon>
    </a>

    <app-move-previous-button (movePrevious)="onMovePrevious()"></app-move-previous-button>
    <app-move-next-button (moveNext)="onMoveNext()"></app-move-next-button>
    <app-slideshow-button (toggleSlideshow)="onToggleSlideshow()"></app-slideshow-button>

    <button
        mat-button
        matTooltip="Enter Full Screen View (F)"
        (click)="onToggleFullscreen()">
        <mat-icon [inline]="true">fullscreen</mat-icon>
    </button>
</span>

<span class="photo" *ngIf="isToolbarExpanded$ | async">
    <button
        mat-button
        matTooltip="Rotate Counter Clockwise (A)"
        (click)="onRotateCounterClockwise()">
        <mat-icon [inline]="true">rotate_left</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Rotate Clockwise (D)"
        (click)="onRotateClockwise()">
        <mat-icon [inline]="true">rotate_right</mat-icon>
    </button>

    <a mat-button
        matTooltip="Low Res Download"
        target="_blank"
        *ngIf="smDownloadUrl"
        [href]="smDownloadUrl">
        <mat-icon [inline]="true" class="icon-sm">photo</mat-icon>
    </a>

    <a mat-button
        matTooltip="Medium Res Download"
        target="_blank"
        *ngIf="mdDownloadUrl"
        [href]="mdDownloadUrl">
        <mat-icon [inline]="true" class="icon-md">photo</mat-icon>
    </a>

    <a mat-button
        matTooltip="High Res Download"
        target="_blank"
        *ngIf="lgDownloadUrl"
        [href]="lgDownloadUrl">
        <mat-icon [inline]="true">photo</mat-icon>
    </a>

    <a mat-button
        matTooltip="High Res Download (untouched)"
        target="_blank"
        *ngIf="prtDownloadUrl"
        [href]="prtDownloadUrl">
        <mat-icon [inline]="true">photo</mat-icon>
    </a>
</span>

<span class="toolbar-control">
    <button
        mat-button
        matTooltip="Show/Hide Toolbar (X)"
        (click)="onTogglePhotoListToolbar()">
        <mat-icon *ngIf="isToolbarExpanded$ | async" [inline]="true">close</mat-icon>
        <mat-icon *ngIf="!(isToolbarExpanded$ | async)" [inline]="true">more_horiz</mat-icon>
    </button>
</span>
