<span class="category" *ngIf="isToolbarExpanded$ | async">
    <button
        mat-button
        matTooltip="Show/Hide Category Breadcrumbs"
        (click)="onToggleCategoryBreadcrumbs()">
        <mat-icon [inline]="true">title</mat-icon>
    </button>

    <app-move-previous-button></app-move-previous-button>

    <app-move-next-button></app-move-next-button>

    <a mat-button
        matTooltip="Download All Photos in Category (.zip)"
        target="_blank"
        *ngIf="allowCategoryDownload && categoryDownloadUrl"
        [href]="categoryDownloadUrl">
        <mat-icon [inline]="true">save_alt</mat-icon>
    </a>
</span>

<span class="photo" *ngIf="isToolbarExpanded$ | async">
    <button
        mat-button
        matTooltip="Rotate Counter Clockwise"
        (click)="onRotateCounterClockwise()">
        <mat-icon [inline]="true">rotate_left</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Rotate Clockwise"
        (click)="onRotateClockwise()">
        <mat-icon [inline]="true">rotate_right</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Start/Stop Slideshow"
        (click)="onToggleSlideshow()">
        <mat-icon [inline]="true" *ngIf="!(slideshowPlaying$ | async)">play_arrow</mat-icon>
        <mat-icon [inline]="true" *ngIf="slideshowPlaying$ | async">stop</mat-icon>
    </button>

    <a mat-button
        matTooltip="Low Res Download"
        target="_blank"
        *ngIf="smDownloadUrl"
        [href]="smDownloadUrl">
        <mat-icon [inline]="true" class="icon-sm">photo</mat-icon>
    </a>

    <a mat-button
        matTooltip="Medium Res Download"
        target="_blank"
        *ngIf="mdDownloadUrl"
        [href]="mdDownloadUrl">
        <mat-icon [inline]="true" class="icon-md">photo</mat-icon>
    </a>

    <a mat-button
        matTooltip="High Res Download"
        target="_blank"
        *ngIf="lgDownloadUrl"
        [href]="lgDownloadUrl">
        <mat-icon [inline]="true">photo</mat-icon>
    </a>

    <a mat-button
        matTooltip="High Res Download (untouched)"
        target="_blank"
        *ngIf="prtDownloadUrl"
        [href]="prtDownloadUrl">
        <mat-icon [inline]="true">photo</mat-icon>
    </a>

    <button
        mat-button
        matTooltip="Enter Full Screen View"
        (click)="onToggleFullscreen()">
        <mat-icon [inline]="true">fullscreen</mat-icon>
    </button>
</span>

<span class="photo-list" *ngIf="isToolbarExpanded$ | async">
    <button
        mat-button
        matTooltip="Toggle Photo List Thumbnail Size"
        (click)="onToggleSize()">
        <mat-icon [inline]="true">photo_size_select_large</mat-icon>
    </button>
</span>

<span class="toolbar-control">
    <button
        mat-button
        matTooltip="Show/Hide Toolbar"
        (click)="onTogglePhotoListToolbar()">
        <mat-icon *ngIf="isToolbarExpanded$ | async" [inline]="true">close</mat-icon>
        <mat-icon *ngIf="!(isToolbarExpanded$ | async)" [inline]="true">more_horiz</mat-icon>
    </button>
</span>
