.category,
.photo,
.toolbar-control {
    margin-right: 6px;
}

.mat-button {
    min-width: 36px;
    line-height: 28px;
    font-size: 18px;
}

.icon-sm {
    font-size: 10px;
}

.icon-md {
    font-size: 14px;
}
