<mat-card>
    <mat-card-title>
        <mat-icon [inline]="true">tune</mat-icon> EXIF Data
    </mat-card-title>
    <mat-card-content>
        <mat-tab-group dynamicHeight="true">
            <mat-tab label="EXIF">
                <app-exif-table [exifData]="exifData"></app-exif-table>
            </mat-tab>
            <mat-tab label="Maker">
                <app-exif-table [exifData]="makerData"></app-exif-table>
            </mat-tab>
            <mat-tab label="Composite">
                <app-exif-table [exifData]="compositeData"></app-exif-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
