<app-sidebar-card
    [icon]="'tune'"
    [title]="'EXIF Data'">

    <mat-tab-group dynamicHeight="true">
        <mat-tab label="EXIF">
            <app-exif-table [exifData]="(exifContainer$ | async)?.exif"></app-exif-table>
        </mat-tab>
        <mat-tab label="Maker">
            <app-exif-table [exifData]="(exifContainer$ | async)?.maker"></app-exif-table>
        </mat-tab>
        <mat-tab label="Composite">
            <app-exif-table [exifData]="(exifContainer$ | async)?.composite"></app-exif-table>
        </mat-tab>
    </mat-tab-group>

</app-sidebar-card>
