<a
    [routerLink]="[category.route, category.id]"
    [matTooltip]="category.name"
    [matTooltipDisabled]="showTitle">
    <mat-card>
        <mat-icon inline="true" *ngIf="category.type == categoryTypes.video">videocam</mat-icon>
        <img [src]="category.teaserImageSqUrl" [alt]="category.name" [class]="thumbnailSize.klass" [class.show_title]="showTitle" loading="lazy" />
        <mat-card-content *ngIf="showTitle">
            {{ category.name }}
        </mat-card-content>
    </mat-card>
</a>
