<app-toolbar-sidebar-layout>
    <app-photo-list-bulk-edit-toolbar layout-toolbar></app-photo-list-bulk-edit-toolbar>

    <div layout-main class="content-grid">
        <div class="category-header">
            <app-category-header
                [category]="category$ | async">
            </app-category-header>
        </div>

        <mat-divider></mat-divider>

        <app-photo-select-grid
            [photos]="photos$ | async"
            [selectedPhotos]="selectedPhotos"
            (photoSelected)="onPhotoSelected($event)"
            (photoDeselected)="onPhotoDeselected($event)">
        </app-photo-select-grid>
    </div>

    <app-bulk-edit-sidebar
        layout-sidebar
        (showPhotosWithGpsData)="onShowPhotosWithGpsData($event)"
        (selectAllPhotos)="onSelectAll($event)"
        (saveGps)="onSaveGps($event)">
    </app-bulk-edit-sidebar>
</app-toolbar-sidebar-layout>
