.main-grid {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 100%;
    height: 100vh;
}

.content-grid {
    margin: 4px 36px 0 36px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto;
    height: 100%;
}

.category-header {
    text-align: center;
}

mat-divider {
    margin-bottom: 12px;
}

@media (max-width: 800px) {
    .main-grid {
        grid-template-columns: 100%;
        grid-template-rows: max-content auto max-content;
    }
}
