<div class="video-grid">
    <div class="mat-elevation-z8">
        <app-video-list-toolbar [ngClass.lt-md]="{ mobile: true }"></app-video-list-toolbar>
    </div>

    <div class="main-photo-grid">
        <div class="category-header">
            <app-category-header *ngIf="(settings$ | async)?.videoListShowCategoryBreadcrumbs" [showCategoryAsLink]="showCategoryAsLink" [category]="(category$ | async)"></app-category-header>
        </div>

        <div *ngIf="activeVideo$ | async as video" class="video-container">
            <video
                #videoRef
                class="center-block"
                autoplay="false"
                [ngStyle]="getVideoDimensions(video)"
                controls>
                <source [src]="getVideoUrl(video)" type="video/mp4" />
                Your browser does not support the <code>video</code> element.
            </video>
        </div>

        <app-video-list
            *ngIf="(videos$ | async) && (settings$ | async)?.videoListShowVideoList"
            [videos]="videos$ | async"
            [thumbnailSize]="(settings$ | async)?.videoListThumbnailSize"
            [selectedVideo]="activeVideo$ | async"
            (videoSelected)="onSelectVideo($event)">
        </app-video-list>
    </div>
</div>
