@import '~@angular/material/theming';

@mixin app-primary-nav-link-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-primary-nav-link a.active,
    app-primary-nav-link a:enabled:hover {
        background-color: rgba(mat-color($accent, 700), .62);
        color: mat-color($accent, 100);
    }
}
