div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    & img {
        flex: 0 0 auto;
        cursor: pointer;
        margin-right: 2px;
        border: 1px solid transparent;
        filter: saturate(0.4);

        &.selected {
            filter: saturate(1.0);
        }

        &:hover {
            filter: saturate(1.0);
        }
    }
}
