@use '~@angular/material' as mat;

@mixin app-toolbar-link-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-toolbar-link {
        & a:enabled:hover {
            background-color: rgba(mat.get-color-from-palette($accent, 700), .42);
            color: mat.get-color-from-palette($accent, 100);
        }
    }
}
