@use '@angular/material' as mat;

@mixin app-stats-header-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-stats-header {
        a {

            color: mat.get-color-from-palette($accent, A200);
        }

        a:hover {
            background-color: transparent;
        }
    }
}
