<app-toolbar-layout>
    <app-stats-toolbar layout-toolbar></app-stats-toolbar>

    <app-stats-layout layout-main>
        <app-stats-header
            layout-header
            [title]="'Video Stats'"
            [year]="selectedYear$ | async"
            (clickYear)="onRemoveYearFilter()">
        </app-stats-header>

        <div layout-cards>
            <app-stats-stat-card *ngIf="(selectedYear$ | async) === null" [detail]="totalDetails$ | async"></app-stats-stat-card>
            <app-stats-stat-card *ngIf="selectedYear$ | async" [detail]="yearDetails$ | async"></app-stats-stat-card>
        </div>

        <form layout-form [formGroup]="form">
            <div>
                Aggregate By:
            </div>
            <div>
                <mat-radio-group formControlName="aggregateBy">
                    <mat-radio-button value="count">Video Count</mat-radio-button>
                    <mat-radio-button value="size">File Size</mat-radio-button>
                    <mat-radio-button value="time">Video Duration</mat-radio-button>
                </mat-radio-group>
            </div>
        </form>

        <app-stats-stat-chart
            layout-chart
            [chartData]="chartData$ | async"
            [format]="chartValueFormat"
            (cellSelected)="onSelectYear($event)">
        </app-stats-stat-chart>
    </app-stats-layout>
</app-toolbar-layout>
