<app-layout-toolbar>
    <app-stats-toolbar layout-toolbar></app-stats-toolbar>

    <app-stats-layout layout-main>
        <app-stats-header
            layout-header
            title="Video Stats"
            [year]="selectedYear$ | async"
        >
        </app-stats-header>

        <div layout-cards>
            <app-stats-stat-card
                [detail]="overallDetails$ | async"
            ></app-stats-stat-card>
        </div>

        <app-aggregate-by-form
            layout-form
            [includeDuration]="true"
            (selectAggregateBy)="onSelectAggregate($event)"
        ></app-aggregate-by-form>

        <app-stats-stat-chart
            layout-chart
            [format]="aggregateBy$ | async"
            [chartData]="chartData$ | async"
            (cellSelected)="onSelectYear($event)"
        >
        </app-stats-stat-chart>
    </app-stats-layout>
</app-layout-toolbar>
