<app-toolbar-toolbar>
    <app-toolbar-link
        [link]="['./app']"
        icon="home"
        tooltip="Application">
    </app-toolbar-link>
    <app-toolbar-link
        [link]="['./categories']"
        icon="collections"
        tooltip="Categories">
    </app-toolbar-link>
    <app-toolbar-link
        [link]="['./photos']"
        icon="image"
        tooltip="Photos">
    </app-toolbar-link>
    <app-toolbar-link
        [link]="['./videos']"
        icon="videocam"
        tooltip="Videos">
    </app-toolbar-link>
    <app-toolbar-link
        [link]="['./search']"
        icon="search"
        tooltip="Search">
    </app-toolbar-link>
    <app-toolbar-link
        [link]="['./random']"
        icon="shuffle"
        tooltip="Random">
    </app-toolbar-link>
</app-toolbar-toolbar>
