<app-toolbar-toolbar>
    <app-toolbar-group>
        <app-toolbar-link
            [icon]="'camera_alt'"
            [routerLink]="['/stats/photos']"
            [tooltip]="'Photo Stats'">
        </app-toolbar-link>

        <app-toolbar-link
            [icon]="'videocam'"
            [routerLink]="['/stats/videos']"
            [tooltip]="'Video Stats'">
        </app-toolbar-link>

        <app-toolbar-link
            [icon]="'functions'"
            [routerLink]="['/stats/combined']"
            [tooltip]="'Combined Stats'">
        </app-toolbar-link>
    </app-toolbar-group>
</app-toolbar-toolbar>
