<app-toolbar-toolbar>
    <app-toolbar-group>
        <app-toolbar-link
            icon="camera_alt"
            [link]="['/stats/photos']"
            tooltip="Photo Stats">
        </app-toolbar-link>

        <app-toolbar-link
            icon="videocam"
            [link]="['/stats/videos']"
            tooltip="Video Stats">
        </app-toolbar-link>

        <app-toolbar-link
            icon="functions"
            [link]="['/stats/combined']"
            tooltip="Combined Stats">
        </app-toolbar-link>
    </app-toolbar-group>
</app-toolbar-toolbar>
