<app-sidebar-sidebar *ngIf="settings$ | async; let settings">
    <app-sidebar-card-group *ngIf="settings.expandedState" @sidebarFlyInOut>
        <app-sidebar-rating-card
            *ngIf="settings.showRatings"
            @sidebarCardShowHide>
        </app-sidebar-rating-card>

        <app-sidebar-comments-card
            *ngIf="settings.showComments"
            @sidebarCardShowHide>
        </app-sidebar-comments-card>

        <app-photos-sidebar-exif
            *ngIf="settings.showExif"
            @sidebarCardShowHide>
        </app-photos-sidebar-exif>

        <app-photos-sidebar-effects
            *ngIf="settings.showEffects"
            @sidebarCardShowHide>
        </app-photos-sidebar-effects>

        <app-photos-sidebar-histogram
            *ngIf="settings.showHistogram"
            @sidebarCardShowHide>
        </app-photos-sidebar-histogram>

        <app-sidebar-minimap-card
            *ngIf="settings.showMinimap"
            @sidebarCardShowHide>
        </app-sidebar-minimap-card>

        <ng-container *ngIf="isAdmin$ | async">
            <app-sidebar-metadata-editor-card
                *ngIf="settings.showMetadataEditor"
                @sidebarCardShowHide>
            </app-sidebar-metadata-editor-card>

            <app-sidebar-category-teaser-chooser-card
                *ngIf="settings.showCategoryTeaserChooser"
                @sidebarCardShowHide>
            </app-sidebar-category-teaser-chooser-card>
        </ng-container>
    </app-sidebar-card-group>

    <app-sidebar-button-group>
        <app-sidebar-button
            [icon]="settings.expandedState ? 'chevron_right' : 'chevron_left'"
            shortcutKey="i"
            shortcutHelp="Show/Hide Info Panel"
            tooltip="Show/Hide Info Panel (I)"
            (click)="toggleSidebar()">
        </app-sidebar-button>

        <app-sidebar-button-divider></app-sidebar-button-divider>

        <app-sidebar-button
            icon="star"
            [isActive]="settings.showRatings"
            [isDisabled]="settings.expandedState === false"
            shortcutKey="r"
            shortcutHelp="Show/Hide Ratings"
            tooltip="Show/Hide Ratings (R)"
            (click)="toggleRatings()">
        </app-sidebar-button>

        <app-sidebar-button
            icon="comment"
            [isActive]="settings.showComments"
            [isDisabled]="settings.expandedState === false"
            shortcutKey="c"
            shortcutHelp="Show/Hide Comments"
            tooltip="Show/Hide Comments (C)"
            (click)="toggleComments()">
        </app-sidebar-button>

        <app-sidebar-button
            icon="tune"
            [isActive]="settings.showExif"
            [isDisabled]="settings.expandedState === false"
            shortcutKey="x"
            shortcutHelp="Show/Hide EXIF"
            tooltip="Show/Hide EXIF (X)"
            (click)="toggleExif()">
        </app-sidebar-button>

        <app-sidebar-button
            icon="photo_filter"
            [isActive]="settings.showEffects"
            [isDisabled]="settings.expandedState === false"
            shortcutKey="e"
            shortcutHelp="Show/Hide Effects"
            tooltip="Show/Hide Effects (E)"
            (click)="toggleEffects()">
        </app-sidebar-button>

        <app-sidebar-button
            icon="color_lens"
            [isActive]="settings.showHistogram"
            [isDisabled]="settings.expandedState === false"
            shortcutKey="h"
            shortcutHelp="Show/Hide Histogram"
            tooltip="Show/Hide Histogram (H)"
            (click)="toggleHistogram()">
        </app-sidebar-button>

        <app-sidebar-button
            icon="map"
            [isActive]="settings.showMinimap"
            [isDisabled]="settings.expandedState === false"
            shortcutKey="v"
            shortcutHelp="Show/Hide Mini-map"
            tooltip="Show/Hide Mini-map (V)"
            (click)="toggleMinimap()">
        </app-sidebar-button>

        <ng-container *ngIf="isAdmin$ | async">
            <app-sidebar-button
                icon="edit"
                [isActive]="settings.showMetadataEditor"
                [isDisabled]="settings.expandedState === false"
                shortcutKey="n"
                shortcutHelp="Show/Hide Metadata Editor"
                tooltip="Show/Hide Metadata Editor (N)"
                (click)="toggleMetadataEditor()">
            </app-sidebar-button>

            <app-sidebar-button
                icon="image_search"
                [isActive]="settings.showCategoryTeaserChooser"
                [isDisabled]="settings.expandedState === false"
                shortcutKey="k"
                shortcutHelp="Show/Hide Category Teaser Chooser"
                tooltip="Show/Hide Category Teaser Chooser (K)"
                (click)="toggleCategoryTeaserChooser()">
            </app-sidebar-button>
        </ng-container>
    </app-sidebar-button-group>
</app-sidebar-sidebar>
