<app-layout-toolbar-sidebar>
    <app-photos-default-toolbar layout-toolbar [allowCategoryDownload]="allowCategoryDownload"></app-photos-default-toolbar>

    <ng-container
        layout-main
        *ngIf="{
            photos: photos$ | async,
            settings: settings$ | async,
            effects: effects$ | async,
            activePhoto: activePhoto$ | async
        } as data">
        <div *ngIf="data.photos" class="main-photo-grid" style="overflow: hidden;">
            <div class="category-header">
                <app-shared-category-header
                    *ngIf="data.settings?.photoListShowCategoryBreadcrumbs"
                    [showCategoryAsLink]="showCategoryAsLink"
                    [category]="category$ | async"
                    #header>
                </app-shared-category-header>
            </div>

            <img
                [src]="data.activePhoto?.imageMd?.url"
                [class]="data.effects?.rotation?.klass"
                [style.filter]="getEffectStyles(data.effects)"
                [style.transform]="getTransform(data.effects)"
                (swipeleft)="onSwipeLeft($event)"
                (swiperight)="onSwipeRight($event)"
                loading="eager" />

            <app-photos-photo-list
                *ngIf="data.photos && data.settings?.photoListShowPhotoList"
                [photos]="data.photos"
                [thumbnailSize]="data.settings?.photoListThumbnailSize"
                (photoSelected)="onSelectPhoto($event)"
                [selectedPhoto]="data.activePhoto"
                #photoList>
            </app-photos-photo-list>
        </div>
    </ng-container>

    <app-photos-default-sidebar layout-sidebar></app-photos-default-sidebar>
</app-layout-toolbar-sidebar>
