<app-sidebar-card
    [icon]="'edit'"
    [title]="'Metadata Editor'">

    <form [formGroup]="form">
        <div class="row-grid">
            <div class="header">Latitude</div>

            <mat-form-field>
                <mat-label>Source</mat-label>
                <input disabled matInput [value]="sourceGpsData?.latitude">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Override</mat-label>
                <input matInput [value]="overrideGpsData?.latitude" formControlName="latitudeOverride" (paste)="onPaste($event)">
            </mat-form-field>
        </div>
        <div class="row-grid">
            <div class="header">Longitude</div>

            <mat-form-field>
                <mat-label>Source</mat-label>
                <input disabled matInput [value]="sourceGpsData?.longitude">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Override</mat-label>
                <input matInput matInput [value]="overrideGpsData?.longitude" formControlName="longitudeOverride" (paste)="onPaste($event)">
            </mat-form-field>
        </div>

        <div class="buttons">
            <button mat-button (click)="onCancel()" color="accent">Cancel</button>
            <button mat-button (click)="onSave()" color="primary">Save</button>
            <button mat-button (click)="onSaveAndMoveNext()" color="primary" class="right">Save and Move Next</button>
        </div>
    </form>

</app-sidebar-card>
