<app-layout-toolbar>
    <app-shared-category-list-toolbar layout-toolbar></app-shared-category-list-toolbar>

    <app-shared-content-margin layout-main [margin]="margin$ | async">

        <div class="filter-grid" *ngIf="(filterSettings$ | async); let filterSettings">
            <app-categories-category-year-filter
                [allYears]="allYears$ | async"
                [yearFilter]="filterSettings.yearFilter"
                (filterChange)="onChangeYearFilter($event)">
            </app-categories-category-year-filter>
            <app-categories-category-type-filter
                [typeFilter]="filterSettings.typeFilter"
                (filterChange)="onChangeTypeFilter($event)">
            </app-categories-category-type-filter>
            <app-categories-category-missing-gps-filter
                *ngIf="isAdmin$ | async"
                [filterEnabled]="filterSettings.missingGpsFilter"
                (filterChange)="onChangeGpsFilter($event)">
            </app-categories-category-missing-gps-filter>
        </div>

        <div>
            <div *ngFor="let year of years$ | async">
                <app-categories-year [year]="year"></app-categories-year>
            </div>
        </div>

    </app-shared-content-margin>
</app-layout-toolbar>
