mat-card {
    display: inline-block;
    min-width: 150px;
    max-width: 300px;
}

table {
    width: 100%;

    & tr:hover {
        background-color: transparent;
    }
}

.stat_count {
    text-align: right;
}
