.chart-container {
    min-height: 300px;
    width: calc(100vw - 140px);
    height: calc(100vh - 260px);
}

@media (max-width: 800px) {
    .chart-container {
        width: calc(100vw - 20px);
        height: calc(100vh - 360px);
    }
}
