<mat-sidenav-container [autosize]="true" fxFlexFill fxLayout>
    <mat-sidenav disableClose #startSidenavRef mode="side" [opened]="!(hidePanels$ | async)" class="mat-elevation-z8" fxFlex="none">
        <div fxLayout="column" fxLayoutAlign="space-between" fxFlex>
            <div fxLayout="column">
                <app-categories-link></app-categories-link>
                <app-random-link></app-random-link>
                <app-stats-link></app-stats-link>
            </div>

            <div fxLayout="column">
                <app-help-link></app-help-link>
                <app-settings-link></app-settings-link>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlex>
        <ng-container *ngTemplateOutlet="routerTemplate"></ng-container>
    </mat-sidenav-content>

    <mat-sidenav #endSidenavRef mode="side" position="end" class="mat-elevation-z8" [opened]="!(hidePanels$ | async) && (isRightSidebarDisplayed$ | async)" fxFlex>
        <app-info-panel *ngIf="!(hidePanels$ | async)"></app-info-panel>
    </mat-sidenav>
</mat-sidenav-container>
