<div class="stats-layout-grid">
    <div>
        <app-stats-header (clickYear)="onRemoveYearFilter()" title="Photo Stats" [year]="selectedYear$ | async"></app-stats-header>
    </div>

    <div class="stat-card-grid">
        <app-stat-detail-card
            title="All Time"
            [details]="totalDetails$ | async">
        </app-stat-detail-card>
        <app-stat-detail-card
            *ngIf="selectedYear$ | async"
            [title]="selectedYear$ | async"
            [details]="yearDetails$ | async">
        </app-stat-detail-card>
    </div>

    <form [formGroup]="form" class="stat-form-grid">
        <div>
            Aggregate By:
        </div>
        <div>
            <mat-radio-group formControlName="aggregateBy" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="6px" fxLayoutGap.gt-sm="12px">
                <mat-radio-button value="count">Photo Count</mat-radio-button>
                <mat-radio-button value="size">File Size</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>

    <div>
        <app-stat-chart
            [chartData]="chartData$ | async"
            [format]="chartValueFormat"
            (cellSelected)="onSelectYear($event)">
        </app-stat-chart>
    </div>
</div>
