<div fxLayout="column">
    <div fxFlex="0 0 auto">
        <app-stats-header (clickYear)="onRemoveYearFilter()" title="Photo Stats" [year]="selectedYear$ | async"></app-stats-header>
    </div>

    <div fxFlex="0 0 auto" fxLayoutGap="12px">
        <app-stat-detail-card
            title="All Time"
            [details]="totalDetails$ | async">
        </app-stat-detail-card>
        <app-stat-detail-card
            *ngIf="selectedYear$ | async"
            [title]="selectedYear$ | async"
            [details]="yearDetails$ | async">
        </app-stat-detail-card>
    </div>

    <div fxFlex="0 0 auto" class="aggregate-form">
        <form [formGroup]="form">
            Aggregate By:
            <mat-radio-group formControlName="aggregateBy">
                <mat-radio-button value="count">Count</mat-radio-button>
                <mat-radio-button value="size">Size</mat-radio-button>
            </mat-radio-group>
        </form>
    </div>

    <div fxFlexFill>
        <app-stat-chart
            [chartData]="chartData$ | async"
            (select)="onSelectYear($event)">
        </app-stat-chart>
    </div>
</div>
