<span class="photo">
    <app-move-previous-button></app-move-previous-button>

    <app-move-next-button></app-move-next-button>

    <button
        mat-button
        matTooltip="Start/Stop Slideshow"
        (click)="onToggleSlideshow()">
        <mat-icon [inline]="true" *ngIf="!(slideshowPlaying$ | async)">play_arrow</mat-icon>
        <mat-icon [inline]="true" *ngIf="slideshowPlaying$ | async">stop</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Exit Fullscreen"
        (click)="onExitFullscreen()">
        <mat-icon [inline]="true">fullscreen_exit</mat-icon>
    </button>
</span>
