@use '@angular/material' as mat;

@mixin app-shared-category-header-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-shared-category-header {
        & a:hover {
            color: mat.get-color-from-palette($accent, A200);
            background-color: transparent;
        }
    }
}
