<mat-card>
    <mat-card-title>
        <mat-icon [inline]="true">edit</mat-icon> Metadata Editor
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">
            <div class="row-grid">
                <div class="header">Latitude</div>

                <mat-form-field>
                    <mat-label>Source</mat-label>
                    <input disabled matInput [value]="(sourceGpsData$ | async)?.latitude">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Override</mat-label>
                    <input matInput formControlName="latitudeOverride" (paste)="onPaste($event)">
                </mat-form-field>
            </div>
            <div class="row-grid">
                <div class="header">Longitude</div>

                <mat-form-field>
                    <mat-label>Source</mat-label>
                    <input disabled matInput [value]="(sourceGpsData$ | async)?.longitude">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Override</mat-label>
                    <input matInput matInput formControlName="longitudeOverride" (paste)="onPaste($event)">
                </mat-form-field>
            </div>

            <button mat-button (click)="onSave()" color="primary">Save</button>
            <button mat-button (click)="onCancel()" color="accent">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>
