@import '~@angular/material/theming';

@mixin app-toolbar-view-grid-button-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-toolbar-view-grid-button {
        & .active {
            background-color: rgba(mat-color($accent, 'A00'), .42);
        }

        & button:enabled:hover {
            background-color: rgba(mat-color($accent, 700), .42);
            color: mat-color($accent, 100);
        }
    }
}
