@import '../../../variables';

button {
    width: 100%;
    min-width: 36px;
    line-height: 28px;
    font-size: 18px;

    border-radius: 0 !important;

    &:hover,
    &:focus,
    &.active {
        box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.14), 0 1px 0 0 rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: $mobileBreakpoint) {
    button {
        width: unset;
    }
}

.icon-sm {
    font-size: 10px !important;
}

.icon-md {
    font-size: 14px !important;
}
