<!--
    <app-header fxFlex></app-header>
-->

<mat-sidenav-container [autosize]="true" fxFlex="1 1 100%">
    <mat-sidenav disableClose #startSidenavRef mode="side" [opened]="!(hidePanels$ | async)" class="mat-elevation-z8">
        <div fxLayout="column" fxLayoutAlign="space-between" style="height: 100%;">
            <div fxLayout="column">
                <a [routerLink]="['/categories']"
                   routerLinkActive="active"
                   mat-button
                   matTooltip="Browse by Category"
                   matTooltipPosition="after">
                    <mat-icon>home</mat-icon>
                </a>
                <!--
                <a [routerLink]="['/search']" routerLinkActive="active" mat-button>
                    <mat-icon>search</mat-icon>
                </a>
                -->
                <a [routerLink]="['/random']"
                   routerLinkActive="active"
                   mat-button
                   matTooltip="Random Photos"
                   matTooltipPosition="after">
                    <mat-icon>shuffle</mat-icon>
                </a>
                <a [routerLink]="['/stats']"
                   routerLinkActive="active"
                   mat-button
                   matTooltip="Photo Statistics"
                   matTooltipPosition="after">
                    <mat-icon>bar_chart</mat-icon>
                </a>
            </div>
            <div fxLayout="column">
                <a [routerLink]="['/help']"
                   routerLinkActive="active"
                   mat-button
                   matTooltip="Help / About"
                   matTooltipPosition="after">
                    <mat-icon>help_outline</mat-icon>
                </a>
                <a [routerLink]="['/settings']"
                   routerLinkActive="active"
                   mat-button
                   matTooltip="Settings"
                   matTooltipPosition="after">
                    <mat-icon>settings</mat-icon>
                </a>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav #endSidenavRef mode="side" position="end" class="mat-elevation-z8" [opened]="!(hidePanels$ | async) && (isRightSidebarDisplayed$ | async)">
        <app-photo-info-panel></app-photo-info-panel>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
