.app-grid {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: max-content auto max-content;
}

@media (max-width: 800px) {
    .app-grid {
        grid-template-rows: max-content auto 0;
        grid-template-columns: 100%;
    }
}
