@import '../variables';

:host {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: max-content auto;
}

@media (max-width: $mobileBreakpoint) {
    :host {
        grid-template-rows: max-content auto;
        grid-template-columns: 100%;
    }
}
