<app-header (toggleTheme)="toggleTheme()"></app-header>

<mat-sidenav-container>
    <mat-sidenav #startSidenavRef mode="side" position="start" opened>
        <button mat-button (click)="toggleStartSidenav()">
            <mat-icon>menu</mat-icon>
            <span *ngIf="startSidenavExpanded">Photo Explorer</span>
        </button>
    </mat-sidenav>

    <mat-sidenav #endSidenavRef mode="side" position="end" opened>
        <button mat-button (click)="toggleEndSidenav()">
            <mat-icon>menu</mat-icon>
            <span *ngIf="endSidenavExpanded">End sidenav content</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
