@import '../../../../variables';

.content-pad {
    padding: $contentPad;
}

.no-results {
    margin-top: 12px;
}

app-shared-content-margin {
    overflow-y: auto;
}

app-search-result-count {
    display: block;
    text-align: right;
    margin: 12px 0;
}
