<app-layout-toolbar>
    <app-search-toolbar layout-toolbar></app-search-toolbar>

    <app-shared-content-margin layout-main class="content-pad" [margin]="margin$ | async">
        <app-search-search-form></app-search-search-form>

        <mat-divider mat-color="accent"></mat-divider>

        <p class="no-results" *ngIf="showNoResults$ | async">No results found</p>

        <app-shared-category-list
            *ngIf="showListView$ | async"
            [categories]="categories$ | async"
            [showYears]="true"
            [thumbnailSize]="listThumbnailSize$ | async">
        </app-shared-category-list>

        <app-shared-category-grid
            *ngIf="showGridView$ | async"
            [showTitles]="gridShowTitles$ | async"
            [showYears]="gridShowYears$ | async"
            [thumbnailSize]="gridThumbnailSize$ | async"
            [categories]="categories$ | async">
        </app-shared-category-grid>

        <app-search-result-count
            *ngIf="(showTotalResults$ | async)"
            [resultsShownCount]="shownResults$ | async"
            [totalCount]="totalResults$ | async">
        </app-search-result-count>

        <app-search-search-more
            *ngIf="hasMoreResults$ | async">
        </app-search-search-more>
    </app-shared-content-margin>
</app-layout-toolbar>
