@import '../../../../variables';

:host {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
    height: 100vh;
}

.content-pad {
    padding: $contentPad;
}

.no-results {
    margin-top: 12px;
}

app-content-margin {
    margin-bottom: 36px;
    overflow-y: auto;
}

app-result-count {
    display: block;
    text-align: right;
    margin: 12px 0;
}

@media (max-width: $mobileBreakpoint) {
    :host {
        grid-template-columns: 100%;
        grid-template-rows: max-content auto;
    }
}
