<app-layout-toolbar-sidebar>
    <app-videos-toolbar layout-toolbar></app-videos-toolbar>

    <ng-container
        layout-main
        *ngIf="{
            videos: videos$ | async,
            settings: settings$ | async,
            activeVideo: activeVideo$ | async
        } as data">
        <div class="main-video-grid">
            <div class="category-header">
                <app-shared-category-header *ngIf="data.settings?.videoListShowCategoryBreadcrumbs" [showCategoryAsLink]="showCategoryAsLink" [category]="(category$ | async)"></app-shared-category-header>
            </div>

            <div *ngIf="data.activeVideo" class="video-container">
                <video
                    #videoRef
                    class="center-block"
                    autoplay="false"
                    [ngStyle]="getVideoDimensions(data.activeVideo)"
                    controls>
                    <source [src]="getVideoUrl(data.activeVideo)" type="video/mp4" />
                    Your browser does not support the <code>video</code> element.
                </video>
            </div>

            <app-videos-video-list
                *ngIf="data.videos && data.settings?.videoListShowVideoList"
                [videos]="data.videos"
                [thumbnailSize]="data.settings?.videoListThumbnailSize"
                [selectedVideo]="data.activeVideo">
            </app-videos-video-list>
        </div>
    </ng-container>

    <app-videos-sidebar layout-sidebar></app-videos-sidebar>
</app-layout-toolbar-sidebar>
