mat-card {
    padding: 0;
    cursor: pointer;

    & img {
        margin-bottom: -6px !important;
        border-radius: 4px;
        width: 160px;
        height: 120px;
        filter: saturate(0.6);

        &.show_title {
            border-radius: 4px 4px 0 0;
        }
    }

    & img.small {
        width: 80px;
        height: 60px;
    }

    & mat-card-content {
        text-align: center;
        padding: 4px 4px 4px;
    }

    &:hover {
        box-shadow: 1px 1px 1px 1px rgba(225, 50, 50, 0.2) !important;

        & img {
            filter: saturate(1.0);
        }
    }
}
