// http://mcg.mbitson.com
$md-maw-red: (
    50 : #f7e6e3,
    100 : #ecc1b8,
    200 : #e09889,
    300 : #d36f5a,
    400 : #c95036,
    500 : #c03113,
    600 : #ba2c11,
    700 : #b2250e,
    800 : #aa1f0b,
    900 : #9c1306,
    A100 : #ffcbc8,
    A200 : #ff9b95,
    A400 : #ff6a62,
    A700 : #ff5248,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-maw-yellow: (
    50 : #fcf3e4,
    100 : #f7e2bd,
    200 : #f1cf91,
    300 : #ebbc64,
    400 : #e7ad43,
    500 : #e39f22,
    600 : #e0971e,
    700 : #dc8d19,
    800 : #d88314,
    900 : #d0720c,
    A100 : #fffdfc,
    A200 : #ffe3c9,
    A400 : #ffc896,
    A700 : #ffbb7c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
