// http://mcg.mbitson.com
$maw-dark-blue: (
    50 : #e0e5e9,
    100 : #b3bec8,
    200 : #8093a4,
    300 : #4d6780,
    400 : #264764,
    500 : #002649,
    600 : #002242,
    700 : #001c39,
    800 : #001731,
    900 : #000d21,
    A100 : #5d86ff,
    A200 : #2a60ff,
    A400 : #003ef6,
    A700 : #0037dd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$maw-merlot: (
    50 : #f0e6e9,
    100 : #dac0c8,
    200 : #c196a4,
    300 : #a86c7f,
    400 : #964d63,
    500 : #832d48,
    600 : #7b2841,
    700 : #702238,
    800 : #661c30,
    900 : #531121,
    A100 : #ff8ba4,
    A200 : #ff587c,
    A400 : #ff2555,
    A700 : #ff0c41,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
