// used to be available from material, adding back as those are now hidden
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$dark-secondary-text: rgba(black, 0.7);

$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);
$light-secondary-text: rgba(white, 0.7);
