@import 'maw-palettes';

$maw-dark-primary: mat-palette($md-maw-red);
$maw-dark-accent:  mat-palette($md-maw-yellow, A200, A100, A400);
$maw-dark-warn:    mat-palette($mat-deep-orange);
$maw-dark-theme:   mat-dark-theme($maw-dark-primary, $maw-dark-accent, $maw-dark-warn);

@include angular-material-theme($maw-dark-theme);
