/* For use in src/lib/core/theming/_palette.scss */
$md-deep-blue: (
    50 : #e1e3e6,
    100 : #b4bac1,
    200 : #828c98,
    300 : #4f5d6f,
    400 : #2a3b50,
    500 : #041831,
    600 : #03152c,
    700 : #031125,
    800 : #020e1f,
    900 : #010813,
    A100 : #547aff,
    A200 : #2152ff,
    A400 : #0035ed,
    A700 : #002fd4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-deep-blue-theme-background: (
  status-bar: black,
  app-bar:    map_get($md-deep-blue, 900),
  background: map_get($md-deep-blue, 900),
  hover:      rgba(#9f7f8e, 0.04), // TODO(kara): check style with Material Design UX
  card:       map_get($md-deep-blue, 800),
  dialog:     map_get($md-deep-blue, 800),
  disabled-button: rgba(#9f7f8e, 0.12),
  raised-button: map-get($md-deep-blue, 800),
  focused-button: $light-focused,
  selected-button: map_get($md-deep-blue, 900),
  selected-disabled-button: map_get($md-deep-blue, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($md-deep-blue, 700),
  disabled-list-option: black,
);

$mat-deep-blue-theme-foreground: (
  base:              map-get($mat-grey, 600),
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-secondary-text,
  icon:              map-get($mat-grey, 400),
  icons:             map-get($mat-grey, 400),
  text:              map-get($mat-grey, 400),
  slider-min:        map-get($mat-grey, 400),
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

@function mat-deep-blue-theme($primary, $accent, $warn: mat-palette($mat-red)) {
    @return (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      is-dark: true,
      foreground: $mat-deep-blue-theme-foreground,
      background: $mat-deep-blue-theme-background,
    );
  }

$maw-deep-blue-primary: mat-palette($mat-blue, A200, A100, A400);
$maw-deep-blue-accent:  mat-palette($mat-blue, A200, A100, A400);
$maw-deep-blue-warn:    mat-palette($mat-red);
$maw-deep-blue-theme:   mat-deep-blue-theme($maw-deep-blue-primary, $maw-deep-blue-accent, $maw-deep-blue-warn);

@include angular-material-theme($maw-deep-blue-theme);
