<div class="stats-grid">
    <div class="mat-elevation-z4" @toolbarFadeIn>
        <app-stats-toolbar (selectView)="view = $event"></app-stats-toolbar>
    </div>

    <div class="content-scroll-pane">
        <div class="content-scroll-pane-content stat-container">
            <app-photo-stats *ngIf="view === 'photos'"></app-photo-stats>
            <app-video-stats *ngIf="view === 'videos'"></app-video-stats>
            <app-combined-stats *ngIf="view === 'combined'"></app-combined-stats>
        </div>
    </div>
</div>
