@import '../../../variables';

:host {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
}

.stat-container {
    margin: 0 12px;
}

@media (max-width: $mobileBreakpoint) {
    :host {
        grid-template-rows: max-content auto;
        grid-template-columns: 100%;
    }
}
