.stats-grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
    height: 100%;
}

.stat-container {
    margin: 0 12px;
}

@media (max-width: 800px) {
    .stats-grid {
        grid-template-rows: max-content auto;
        grid-template-columns: 100%;
    }
}
