@import '~@angular/material/theming';

@mixin app-slideshow-button-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-slideshow-button {
        & button:hover {
            background-color: rgba(mat-color($accent, 700), .3);
            color: mat-color($accent, 100);
        }
    }
}
