<app-toolbar-sidebar-layout>
    <app-photo-list-map-toolbar layout-toolbar></app-photo-list-map-toolbar>

    <ng-container
        layout-main
        *ngIf="{
            settings: settings$ | async
        } as data">
        <app-map-view
            [activePhoto]="activePhoto$ | async"
            [images]="mapImages$ | async"
            [mapTypeId]="data.settings?.photoListMapViewMapTypeId"
            [useDarkTheme]="data.settings?.appTheme?.isDark"
            (mapTypeChange)="onMapTypeIdChange($event)"
            [zoom]="data.settings?.photoListMapViewZoom"
            (zoomChange)="onZoomChange($event)"
            (selectPhoto)="onSelectPhoto($event)">
        </app-map-view>
    </ng-container>

    <app-photo-sidebar layout-sidebar></app-photo-sidebar>
</app-toolbar-sidebar-layout>
