<ng-container *ngIf="{
    isFullscreen: isFullscreen$ | async,
    isMapView: isMapView$ | async,
    isBulkEditView: isBulkEditView$ | async
} as data">
    <app-photos-default-view
        *ngIf="!data.isFullscreen && !data.isMapView && !data.isBulkEditView"
        [allowCategoryDownload]="true"
        [showCategoryAsLink]="false">
    </app-photos-default-view>

    <app-photos-fullscreen-view
        *ngIf="data.isFullscreen">
    </app-photos-fullscreen-view>

    <app-photos-map-view
        *ngIf="data.isMapView">
    </app-photos-map-view>

    <app-photos-bulk-edit
        *ngIf="data.isBulkEditView">
    </app-photos-bulk-edit>
</ng-container>
