@import '../../../../variables';

a {
    background-color: transparent !important;
}

.full-image {
    display: grid;
    text-align: center;
    height: 100vh;
}

@media (max-width: $mobileBreakpoint) {
    .full-image {
        height: calc(100vh - 36px - 29.25px);
        padding: 0;
    }
}
