<app-heading sectionName="Videos"></app-heading>

<form [formGroup]="form">
    <div class="card-grid">
        <mat-card formGroupName="detail">
            <mat-card-title>Video Page</mat-card-title>
            <mat-card-content>
                <mat-card-subtitle>Video Size</mat-card-subtitle>
                <mat-radio-group formControlName="videoSize">
                    <mat-radio-button
                        *ngFor="let size of videoSizes"
                        [value]="size.value"
                        >{{ size.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <mat-card-subtitle>Show Breadcrumbs</mat-card-subtitle>
                <mat-slide-toggle
                    formControlName="showBreadcrumbs"
                ></mat-slide-toggle>

                <mat-card-subtitle>Show Video List</mat-card-subtitle>
                <mat-slide-toggle
                    formControlName="showVideoList"
                ></mat-slide-toggle>

                <mat-card-subtitle>Thumbnail Size</mat-card-subtitle>
                <mat-radio-group formControlName="thumbnailSize">
                    <mat-radio-button
                        *ngFor="let size of thumbnailSizes"
                        [value]="size.value"
                        >{{ size.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <div formGroupName="infoPanel">
                    <mat-card-subtitle>Info Panel</mat-card-subtitle>
                    <mat-checkbox formControlName="expandedState"
                        >Show Info Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showRatings"
                        >Show Ratings Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showComments"
                        >Show Comments Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showMinimap"
                        >Show Mini-map Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showMetadataEditor"
                        >Show Metadata Editor Panel</mat-checkbox
                    >
                    <br />
                    <mat-checkbox formControlName="showCategoryTeaserChooser"
                        >Show Category Teaser Chooser Panel</mat-checkbox
                    >

                    <mat-card-subtitle>Minimap Type</mat-card-subtitle>
                    <mat-radio-group formControlName="minimapType">
                        <mat-radio-button
                            *ngFor="let type of mapTypes"
                            [value]="type.value"
                            >{{ type.name }}</mat-radio-button
                        >
                    </mat-radio-group>

                    <mat-card-subtitle>Minimap Zoom Level</mat-card-subtitle>
                    <mat-form-field>
                        <mat-label>Zoom</mat-label>
                        <mat-select formControlName="minimapZoom">
                            <mat-option
                                *ngFor="let zoom of zoomLevels"
                                [value]="zoom.value"
                                >{{ zoom.name }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <app-submit-buttons (save)="onSave()" (cancel)="onCancel()">
    </app-submit-buttons>
</form>
