.content-grid {
    margin: 4px 36px 0 36px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content auto;
}

.category-header {
    text-align: center;
}

mat-divider {
    margin-bottom: 12px;
}
