<app-layout-toolbar-sidebar>
    <app-photos-bulk-edit-toolbar layout-toolbar></app-photos-bulk-edit-toolbar>

    <div layout-main class="content-grid">
        <div class="category-header">
            <app-shared-category-header [category]="category$ | async">
            </app-shared-category-header>
        </div>

        <mat-divider></mat-divider>

        <app-photos-photo-select-grid
            [photos]="photos$ | async"
            [selectedPhotos]="selectedPhotos"
            (photoSelected)="onPhotoSelected($event)"
            (photoDeselected)="onPhotoDeselected($event)"
        >
        </app-photos-photo-select-grid>
    </div>

    <app-photos-bulk-edit-sidebar
        layout-sidebar
        (showPhotosWithGpsData)="onShowPhotosWithGpsData($event)"
        (selectAllPhotos)="onSelectAll($event)"
        (saveGps)="onSaveGps($event)"
    >
    </app-photos-bulk-edit-sidebar>
</app-layout-toolbar-sidebar>
