@import '../../../../variables';

a {
    background-color: transparent;
}

.full-image {
    display: grid;
    text-align: center;
    height: 100vh;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        align-self: center;
    }
}

@media (max-width: $mobileBreakpoint) {
    .full-image {
        height: calc(100vh - 36px - 29.25px);
        padding: 0;
    }
}
