.container {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content auto;
    justify-content: center;
}

mat-icon {
    width: 24px;
    height: 24px;
}

.center {
    text-align: center;
}
