a {
    text-decoration: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
    padding: 0;
    border: 1px solid transparent;
    cursor: pointer;

    & img {
        margin-bottom: -5px !important;
        border-radius: 4px;
        width: 160px;
        height: 120px;
        filter: saturate(0.4);

        &.show_title {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.show_year {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &.thumb-small {
            width: 120px;
            height: 90px;
        }

        &.thumb-very-small {
            width: 80px;
            height: 60px;
        }

        &.thumb-tiny {
            width: 40px;
            height: 30px;
        }
    }

    & mat-icon {
        position: absolute;
        top: 4px;
        left: 8px;
        z-index: 999;
        font-size: 20px;
    }

    & mat-card-content {
        margin-top: 5px;
    }

    & mat-card-content,
    & mat-card-header {
        display: block;
        text-align: center;
        padding: 4px 2px 0 2px !important;
        max-width: 152px;
    }

    &:hover {
        & img {
            filter: saturate(1.0);
        }
    }
}
