@use '@angular/material' as mat;

@mixin app-shared-category-card-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-shared-category-card {
        mat-card {
            &:hover {
                color: map-get($accent, 200);
                border: 1px solid mat.get-color-from-palette($accent, 600);
            }
        }
    }
}
