@use '@angular/material' as mat;

@mixin app-shared-category-card-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-shared-category-card {
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card {
            &:hover {
                border: 1px solid mat.get-color-from-palette($accent, 600);
                color: mat.get-color-from-palette($accent, 100);
            }
        }
    }
}
