<a
    *ngIf="!!category"
    [routerLink]="category.route"
    [matTooltip]="category.name"
    [matTooltipDisabled]="showTitle"
>
    <mat-card appearance="outlined">
        <mat-card-header *ngIf="showYear">
            {{ category.year }}
        </mat-card-header>
        <mat-icon inline="true" *ngIf="category.type === categoryTypes.video">videocam</mat-icon>
        <img
            [src]="category.teaserImageSq.url"
            [alt]="category.name"
            [class.show_title]="showTitle"
            [class.show_year]="showYear"
            [ngClass]="thumbnailSize | thumbnailSizeClass: showTitle || showYear"
            width="160"
            height="120"
            loading="lazy"
        />
        <mat-card-content *ngIf="showTitle">
            {{ category.name }}
        </mat-card-content>
    </mat-card>
</a>
