@use '~@angular/material' as mat;

@mixin app-photos-photo-select-grid-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-photos-photo-select-grid {
        mat-card {
            &:hover,
            &.selected {
                border: 1px solid mat.get-color-from-palette($accent, 600);
                color: mat.get-color-from-palette($accent, 100);
            }
        }
    }
}
