@import '~@angular/material/theming';

@mixin app-category-list-toolbar-component-theme($theme) {
    $accent: map-get($theme, accent);

    app-category-list-toolbar {
        background-color: rgba(mat-color($accent, 900), .3);
        border: solid 1px rgba(mat-color($accent, 200), .3);
    }
}
