<span class="category" *ngIf="isToolbarExpanded$ | async">
    <button
        mat-button
        matTooltip="Show/Hide Category Breadcrumbs (T)"
        (click)="onToggleCategoryBreadcrumbs()">
        <mat-icon [inline]="true">title</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Show/Hide Video List (L)"
        (click)="onToggleShowVideoList()">
        <mat-icon [inline]="true">visibility</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Toggle Video List Thumbnail Size (S)"
        (click)="onToggleThumbnailSize()">
        <mat-icon [inline]="true">photo_size_select_large</mat-icon>
    </button>
</span>

<span class="video" *ngIf="isToolbarExpanded$ | async">
    <button
        mat-button
        matTooltip="Toggle video size (V)"
        (click)="onToggleVideoSize()">
        <mat-icon [inline]="true">switch_video</mat-icon>
    </button>
</span>

<span class="toolbar-control">
    <button
        mat-button
        matTooltip="Show/Hide Toolbar (X)"
        (click)="onToggleVideoListToolbar()">
        <mat-icon *ngIf="isToolbarExpanded$ | async" [inline]="true">close</mat-icon>
        <mat-icon *ngIf="!(isToolbarExpanded$ | async)" [inline]="true">more_horiz</mat-icon>
    </button>
</span>
