<h1>Settings</h1>

<form [formGroup]="form">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="12px">
        <mat-card>
            <mat-card-title>General</mat-card-title>
            <mat-card-content>
                <h3>Theme</h3>
                <mat-form-field appearance="standard">
                    <mat-label>Theme</mat-label>
                    <mat-select formControlName="appTheme">
                        <mat-option *ngFor="let theme of themes" [value]="theme.name">{{ theme.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Category List</mat-card-title>
            <mat-card-content>
                <h3>Show Category Titles</h3>
                <mat-slide-toggle formControlName="categoryListShowCategoryTitles" [color]="'primary'"></mat-slide-toggle>

                <h3>Thumbnail Size (w/o title)</h3>
                <mat-radio-group formControlName="categoryListThumbnailSize">
                    <mat-radio-button *ngFor="let size of categoryThumbnailSizes" [value]="size.name">{{ size.name }}</mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Photo List</mat-card-title>
            <mat-card-content>
                <h3>Show Category Breadcrumbs</h3>
                <mat-slide-toggle formControlName="photoListShowCategoryBreadcrumbs" [color]="'primary'"></mat-slide-toggle>

                <h3>Show Category Photo List</h3>
                <mat-slide-toggle formControlName="photoListShowPhotoList" [color]="'primary'"></mat-slide-toggle>

                <h3>Show Photo List Toolbar</h3>
                <mat-slide-toggle formControlName="photoListToolbarExpandedState" [color]="'primary'"></mat-slide-toggle>

                <h3>Photo List Thumbnail Size</h3>
                <mat-radio-group formControlName="photoListThumbnailSize">
                    <mat-radio-button *ngFor="let size of photoListThumbnailSizes" [value]="size.name">{{ size.name }}</mat-radio-button>
                </mat-radio-group>

                <h3>Slideshow Display Duration (in seconds)</h3>
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <mat-select formControlName="photoListSlideshowDisplayDurationSeconds">
                        <mat-option *ngFor="let duration of randomDurations" [value]="duration">{{ duration }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <h3>Photo Info Panel Visibility</h3>
                <mat-checkbox formControlName="photoInfoPanelExpandedState">Show Info Panel</mat-checkbox>
                <br />
                <mat-checkbox formControlName="photoInfoPanelShowRatings">Show Ratings Panel</mat-checkbox>
                <br />
                <mat-checkbox formControlName="photoInfoPanelShowComments">Show Comments Panel</mat-checkbox>
                <br />
                <mat-checkbox formControlName="photoInfoPanelShowExif">Show EXIF Panel</mat-checkbox>
                <br />
                <mat-checkbox formControlName="photoInfoPanelShowEffects">Show Effects Panel</mat-checkbox>
                <br />
                <mat-checkbox formControlName="photoInfoPanelShowMinimap">Show Mini-map Panel</mat-checkbox>
            </mat-card-content>
        </mat-card>
    </div>

    <button mat-button (click)="onSave()">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
</form>
