@import '../../../variables';

:host {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    height: 100vh;

}

mat-radio-group {
    display: inline-flex;
    flex-direction: column;
}

mat-radio-button {
    margin: 4px;
}

h3 {
    margin-top: 12px;
    margin-bottom: 4px;
}

.settings-container {
    margin: 12px;
    overflow-y: auto;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

mat-card {
    min-width: 300px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.button-group {
    margin-bottom: 24px;
}

@media (max-width: $mobileBreakpoint) {
    :host {
        grid-template-rows: calc(100vh - 48px);
    }

    .card-grid {
        display: block;
    }

    .button-group {
        margin-bottom: 0;
    }
}
