mat-radio-group {
    display: inline-flex;
    flex-direction: column;
}

mat-radio-button {
    margin: 4px;
}

h3 {
    margin-top: 12px;
    margin-bottom: 4px;
}

.settings-container {
    margin: 12px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

mat-card {
    min-width: 300px;
    margin-right: 12px;
}

.button-group {
    margin-bottom: 24px;
}

@media (max-width: 800px) {
    .card-grid {
        display: block;
    }

    mat-card {
        margin-bottom: 12px;
    }

    .button-group {
        margin-bottom: 0;
    }
}
