<app-toolbar-toolbar>
    <app-toolbar-group-select-view
        [isFullscreenViewActive]="true">
    </app-toolbar-group-select-view>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-photos-toolbar-slideshow-button (toggleSlideshow)="onToggleSlideshow()"></app-photos-toolbar-slideshow-button>
        <app-toolbar-move-previous-button></app-toolbar-move-previous-button>
        <app-toolbar-move-next-button></app-toolbar-move-next-button>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-photos-toolbar-rotate-counter-clockwise-button></app-photos-toolbar-rotate-counter-clockwise-button>
        <app-photos-toolbar-rotate-clockwise-button></app-photos-toolbar-rotate-clockwise-button>
        <app-photos-toolbar-flip-horizontal-button></app-photos-toolbar-flip-horizontal-button>
        <app-photos-toolbar-flip-vertical-button></app-photos-toolbar-flip-vertical-button>
    </app-toolbar-group>
</app-toolbar-toolbar>
