img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;
    justify-self: center;

    &.rot90 {
        transform: rotate(-90deg);
    }

    &.rot180 {
        transform: rotate(-180deg);
    }

    &.rot270 {
        transform: rotate(-270deg);
    }

    &.rot90, &.rot270 {
        max-width: 100vh;
        height: 100vh;
    }
}

@supports (-moz-appearance:none) {
    img {
        // mimic the object-fit:contain that chrome is doing
        max-height: calc(100vh - 162px);
    }
}
