<ng-container
    *ngIf="{
        activePhoto: activePhoto$ | async,
        effects: effects$ | async
    } as data"
>
    <div
        class="image-wrapper"
        [ngClass]="getMaxHeightClass()"
        [class.fullscreen]="!showHeader && !showPhotoList"
    >
        <img
            [ngClass]="getMaxHeightClass()"
            [src]="data.activePhoto?.imageMd?.url"
            [srcset]="getSourceset(data.activePhoto)"
            [class]="data.effects?.rotation?.klass"
            [style.filter]="getEffectStyles(data.effects)"
            [style.transform]="getTransform(data.effects)"
            (swipeleft)="onSwipeLeft()"
            (swiperight)="onSwipeRight()"
            sizes="100vw"
            loading="eager"
        />
    </div>
</ng-container>
