<app-heading sectionName="Search"></app-heading>

<form [formGroup]="form">
    <div class="card-grid">
        <mat-card formGroupName="page">
            <mat-card-title>Search Page</mat-card-title>
            <mat-card-content>
                <h3>View Mode</h3>
                <mat-radio-group formControlName="viewMode">
                    <mat-radio-button
                        *ngFor="let mode of viewModes"
                        [value]="mode.value"
                        >{{ mode.name }}</mat-radio-button
                    >
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card formGroupName="grid">
            <mat-card-title>Grid View</mat-card-title>
            <mat-card-content>
                <h3>Show Category Titles</h3>
                <mat-slide-toggle
                    formControlName="showTitles"
                ></mat-slide-toggle>

                <h3>Show Category Years</h3>
                <mat-slide-toggle
                    formControlName="showYears"
                ></mat-slide-toggle>

                <h3>Margins</h3>
                <mat-radio-group formControlName="margin">
                    <mat-radio-button
                        *ngFor="let margin of margins"
                        [value]="margin.value"
                        >{{ margin.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <h3>Thumbnail Size</h3>
                <mat-radio-group formControlName="thumbnailSize">
                    <mat-radio-button
                        *ngFor="let size of thumbnailSizes"
                        [value]="size.value"
                        >{{ size.name }}</mat-radio-button
                    >
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card formGroupName="list">
            <mat-card-title>List View</mat-card-title>
            <mat-card-content>
                <h3>Margins</h3>
                <mat-radio-group formControlName="margin">
                    <mat-radio-button
                        *ngFor="let margin of margins"
                        [value]="margin.value"
                        >{{ margin.name }}</mat-radio-button
                    >
                </mat-radio-group>

                <h3>Thumbnail Size</h3>
                <mat-radio-group formControlName="thumbnailSize">
                    <mat-radio-button
                        *ngFor="let size of thumbnailSizes"
                        [value]="size.value"
                        >{{ size.name }}</mat-radio-button
                    >
                </mat-radio-group>
            </mat-card-content>
        </mat-card>
    </div>

    <app-submit-buttons (save)="onSave()" (cancel)="onCancel()">
    </app-submit-buttons>
</form>
