<app-toolbar-toolbar>
    <app-toolbar-group>
        <app-photos-toolbar-slideshow-button (toggleSlideshow)="onToggleSlideshow()"></app-photos-toolbar-slideshow-button>
        <app-toolbar-move-previous-button (movePrevious)="onMovePrevious()" [atStartOfList]="isFirst$ | async"></app-toolbar-move-previous-button>
        <app-toolbar-move-next-button (moveNext)="onMoveNext()" [atEndOfList]="isLast$ | async"></app-toolbar-move-next-button>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-photos-toolbar-rotate-counter-clockwise-button></app-photos-toolbar-rotate-counter-clockwise-button>
        <app-photos-toolbar-rotate-clockwise-button></app-photos-toolbar-rotate-clockwise-button>
        <app-photos-toolbar-flip-horizontal-button></app-photos-toolbar-flip-horizontal-button>
        <app-photos-toolbar-flip-vertical-button></app-photos-toolbar-flip-vertical-button>
    </app-toolbar-group>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-toolbar-button
            [icon]="'fullscreen_exit'"
            [shortcutKey]="'f'"
            [shortcutHelp]="'Exit Fullscreen'"
            [tooltip]="'Exit Fullscreen (F)'"
            (click)="onExitFullscreen()">
        </app-toolbar-button>
    </app-toolbar-group>
</app-toolbar-toolbar>
