<mat-card>
    <mat-card-title>
        <mat-icon [inline]="true">star</mat-icon> Rating
    </mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <td>Your Rating</td>
                <td>
                    <ngx-stars [initialStars]="(rating$ | async)?.userRating" [color]="'#edb867'" [maxStars]="5" (rateChange)="onRate($event)"></ngx-stars>
                </td>
            </tr>
            <tr>
                <td>Average Rating</td>
                <td>
                    <ngx-stars [initialStars]="(rating$ | async)?.averageRating" [color]="'#edb867'" [maxStars]="5" [readOnly]="true"></ngx-stars>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
