<app-toolbar-toolbar>
    <app-toolbar-group-select-view></app-toolbar-group-select-view>

    <app-toolbar-divider></app-toolbar-divider>

    <app-toolbar-group>
        <app-photos-toolbar-slideshow-button
            (toggleSlideshow)="onToggleSlideshow()"
        ></app-photos-toolbar-slideshow-button>
        <app-toolbar-move-previous-button
            *ngIf="(activePhotoId$ | async) != null"
        ></app-toolbar-move-previous-button>
        <app-toolbar-move-next-button
            *ngIf="(activePhotoId$ | async) != null"
        ></app-toolbar-move-next-button>
    </app-toolbar-group>

    <app-toolbar-divider
        *ngIf="(activePhotoId$ | async) === null"
    ></app-toolbar-divider>

    <app-toolbar-group *ngIf="(activePhotoId$ | async) === null">
        <app-toolbar-button
            *ngIf="!isRandom"
            icon="title"
            shortcutKey="t"
            shortcutHelp="Show/Hide Category Breadcrumbs"
            tooltip="Show/Hide Category Breadcrumbs (T)"
            (click)="onToggleCategoryBreadcrumbs()"
        >
        </app-toolbar-button>

        <app-toolbar-button
            icon="format_indent_increase"
            shortcutKey="m"
            shortcutHelp="Toggle Margins"
            tooltip="Toggle Margins (M)"
            (click)="onToggleMargins()"
        >
        </app-toolbar-button>

        <app-toolbar-button
            icon="photo_size_select_large"
            shortcutKey="s"
            shortcutHelp="Toggle Thumbnail Size"
            tooltip="Toggle Thumbnail Size (S)"
            (click)="onToggleSize()"
        >
        </app-toolbar-button>
    </app-toolbar-group>

    <app-toolbar-divider
        *ngIf="(activePhotoId$ | async) != null"
    ></app-toolbar-divider>

    <app-toolbar-group *ngIf="(activePhotoId$ | async) != null">
        <app-photos-toolbar-rotate-counter-clockwise-button></app-photos-toolbar-rotate-counter-clockwise-button>
        <app-photos-toolbar-rotate-clockwise-button></app-photos-toolbar-rotate-clockwise-button>
        <app-photos-toolbar-flip-horizontal-button></app-photos-toolbar-flip-horizontal-button>
        <app-photos-toolbar-flip-vertical-button></app-photos-toolbar-flip-vertical-button>

        <app-toolbar-button
            *ngIf="enableShare"
            icon="share"
            tooltip="Share Photo"
            (click)="onShare()"
        >
        </app-toolbar-button>
    </app-toolbar-group>
</app-toolbar-toolbar>
