.category_holder {
    margin-bottom: 8px;
}

.category-grid {
    display: flex;
    flex-flow: row wrap;
    place-content: stretch center;
    align-items: stretch;
    padding: 4px;
}

app-category-card {
    margin: 4px;
}
