@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
    $font-family: '-apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.typography-hierarchy($custom-typography);
@include mat.core();

@import 'variables';
@import 'themes/dark-theme';
@import 'themes/light-theme';
@import 'themes/mulled-wine-theme';
@import 'themes/pale-night-theme';

// https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@import 'app/app.component.theme';

@import 'app/about/about/about.component.theme';

@import 'app/photos-shared/components/photo-list/photo-list.component.theme';
@import 'app/photos-shared/components/sidebar-exif-table/sidebar-exif-table.component.theme';
@import 'app/photos-shared/components/toolbar-download-button/toolbar-download-button.component.theme';
@import 'app/photos-shared/components/grid-view/grid-view.component.theme';

@import 'app/photos/components/photo-select-grid/photo-select-grid.component.theme';
@import 'app/photos/components/bulk-edit/bulk-edit.component.theme';

@import 'app/primary-nav/link/link.component.theme';
@import 'app/primary-nav/primary-nav/primary-nav.component.theme';

@import 'app/shared/components/category-card/category-card.component.theme';
@import 'app/shared/components/category-list-item/category-list-item.component.theme';
@import 'app/shared/components/category-header/category-header.component.theme';

@import 'app/sidebar/comments-card/comments-card.component.theme';
@import 'app/sidebar/button/button.component.theme';
@import 'app/sidebar/button-group/button-group.component.theme';
@import 'app/sidebar/card-group/card-group.component.theme';

@import 'app/toolbar/toolbar/toolbar.component.theme';
@import 'app/toolbar/button/button.component.theme';
@import 'app/toolbar/link/link.component.theme';
@import 'app/stats/components/header/header.component.theme';

@import 'app/videos/components/video-list/video-list.component.theme';

@import 'node_modules/ngx-bar-rating/themes/br-default-theme';

@mixin color-theme($theme) {
    @include mat.all-component-colors($theme);
    @include custom-components-theme($theme);
}

// you only have to add additional components here (instead of in every theme class)
@mixin custom-components-theme($theme) {
    @include app-component-theme($theme);

    @include app-about-component-theme($theme);

    @include app-photos-bulk-edit-component-theme($theme);
    @include app-photos-photo-list-component-theme($theme);
    @include app-photos-photo-select-grid-component-theme($theme);
    @include app-photos-sidebar-exif-table-component-theme($theme);
    @include app-photos-toolbar-download-button-component-theme($theme);
    @include app-photos-grid-view-component-theme($theme);

    @include app-primary-nav-component-theme($theme);
    @include app-primary-nav-link-component-theme($theme);

    @include app-shared-category-card-component-theme($theme);
    @include app-shared-category-header-component-theme($theme);
    @include app-shared-category-list-item-component-theme($theme);

    @include app-sidebar-button-component-theme($theme);
    @include app-sidebar-button-group-component-theme($theme);
    @include app-sidebar-card-group-component-theme($theme);
    @include app-sidebar-comments-card-component-theme($theme);

    @include app-stats-header-component-theme($theme);

    @include app-toolbar-button-component-theme($theme);
    @include app-toolbar-link-component-theme($theme);
    @include app-toolbar-toolbar-component-theme($theme);

    @include app-videos-video-list-component-theme($theme);
}

// define dark as the default theme
// reference: https://material.angular.io/guide/theming#multiple-themes
@include mat.all-component-themes($maw-dark-theme);
@include custom-components-theme($maw-dark-theme);

.maw-light-theme {
    @include color-theme($maw-light-theme);
}

.maw-mulled-wine-theme {
    @include color-theme($maw-mulled-wine-theme);
}

.maw-pale-night-theme {
    @include color-theme($maw-pale-night-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

mat-radio-button {
    margin: 0 !important;
}

@media (max-width: $mobileBreakpoint) {
    .hide-on-mobile {
        display: none !important;
    }
}
