// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'themes/dark-theme';
@import 'themes/deep-blue-theme';
@import 'themes/light-theme';
@import 'themes/mulled-wine-theme';
@import 'themes/ocean-theme';
@import 'themes/pale-night-theme';

// https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@import 'app/app.component.theme';

@import 'app/help/help/help.component.theme';

@import 'app/categories//year-list/year-list.component.theme';
@import 'app/categories/category-card/category-card.component.theme';
@import 'app/categories/category-list/category-list.component.theme';
@import 'app/categories/video-list/video-list.component.theme';

@import 'app/shared/category-header/category-header.component.theme';
@import 'app/shared/comments/comments.component.theme.scss';
@import 'app/shared/exif-table/exif-table.component.theme';
@import 'app/shared/photo-info-panel/photo-info-panel.component.theme';
@import 'app/shared/photo-list/photo-list.component.theme';
@import 'app/shared/photo-view/photo-view.component.theme.scss';
@import 'app/shared/video-info-panel/video-info-panel.component.theme';

@import 'app/stats/header/stats-header.component.theme';


@mixin mat-tooltip-background-override($theme) {
    $accent: map-get($theme, accent);

    mat-tooltip-component .mat-tooltip {
        background-color: mat-color($accent, 900) !important;
    }
}

@mixin toolbar-button-theme($theme) {
    $accent: map-get($theme, accent);

    .toolbar-button:enabled:hover {
        background-color: rgba(mat-color($accent, 700), .3);
        color: mat-color($accent, 100);
    }
}

// you only have to add additional componenets here (instead of in every theme class)
@mixin custom-components-theme($theme) {
    @include app-component-theme($theme);

    @include app-help-component-theme($theme);

    @include app-category-card-component-theme($theme);
    @include app-category-list-component-theme($theme);
    @include app-video-list-component-theme($theme);
    @include app-year-list-component-theme($theme);

    @include toolbar-button-theme($theme);
    @include app-category-header-component-theme($theme);
    @include app-comments-component-theme($theme);
    @include app-exif-table-component-theme($theme);
    @include app-photo-info-panel-component-theme($theme);
    @include app-photo-list-component-theme($theme);
    @include app-photo-view-component-theme($theme);
    @include app-video-info-panel-component-theme($theme);

    @include app-stats-header-component-theme($theme);

    @include mat-tooltip-background-override($theme);
}

.maw-dark-theme {
    @include angular-material-theme($maw-dark-theme);
    @include custom-components-theme($maw-dark-theme);
}

.maw-deep-blue-theme {
    @include angular-material-theme($maw-deep-blue-theme);
    @include custom-components-theme($maw-deep-blue-theme);
}

.maw-light-theme {
    @include angular-material-theme($maw-light-theme);
    @include custom-components-theme($maw-light-theme);
}

.maw-mulled-wine-theme {
    @include angular-material-theme($maw-mulled-wine-theme);
    @include custom-components-theme($maw-mulled-wine-theme);
}

.maw-ocean-theme {
    @include angular-material-theme($maw-ocean-theme);
    @include custom-components-theme($maw-ocean-theme);
}

.maw-pale-night-theme {
    @include angular-material-theme($maw-pale-night-theme);
    @include custom-components-theme($maw-pale-night-theme);
}

/* You can add global styles to this file, and also import other style files */

@import '~ngx-bar-rating/themes/br-default-theme';

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.toolbar {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: repeat(auto-fit, 1fr);

    & .mat-button {
        min-width: 36px;
        line-height: 28px;
        font-size: 18px;
    }

    & mat-divider {
        margin: 16px 8px;
    }
}

.stats-layout-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content max-content auto;
    height: 100%;
}

.stat-card-grid {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 100%;
    grid-column-gap: 12px;
}

.stat-form-grid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 100%;
    grid-column-gap: 8px;

    & mat-radio-button {
        margin-right: 8px;
    }
}

.info-panel {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 100%;
    height: 100vh;

    & .panel-heading {
        padding-left: 4px;
        width: 100%;
    }

    & mat-divider {
        margin: 0 2px 4px 2px;
    }

    & .info-panel-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(50, max-content);
        height: 100%;

        width: 504px;
    }

    & .toolbar-grid {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(20, max-content);
        grid-row-gap: 4px;
        height: 100%;

        & .mat-button {
            min-width: 24px;
            font-size: 18px;
            line-height: 24px;
            padding: 0;
        }
    }
}

.content-scroll-pane,
.content-scroll-pane-no-inner-toolbar {
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
}

.content-scroll-pane-content {
    margin-bottom: 12px;
}

@media (max-width: 800px) {
    .hide-on-mobile {
        display: none !important;
    }

    .toolbar {
        grid-template-columns: 100%;
        grid-template-rows: max-content;

        & .toolbar-group {
            display: inline;
        }

        & mat-divider {
            display: inline;
            margin: 0;
        }
    }

    .content-scroll-pane {
        /* 36px = height of primary nav */
        /* 29px = height of inner toolbar */
        height: calc(100vh - 36px - 29px);
        min-height: calc(100vh - 36px - 29px);
    }

    .content-scroll-pane-no-inner-toolbar {
        height: calc(100vh - 36px);
        min-height: calc(100vh - 36px);
    }
}
