// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
    $font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Medium", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'variables';
@import 'themes/dark-theme';
@import 'themes/light-theme';
@import 'themes/mulled-wine-theme';
@import 'themes/pale-night-theme';

// https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@import 'app/app.component.theme';

@import 'app/help/help/help.component.theme';

@import 'app/categories/year-list/year-list.component.theme';

@import 'app/photos/components/photo-list/photo-list.component.theme';
@import 'app/photos/components/photo-select-grid/photo-select-grid.component.theme';
@import 'app/photos/components/default-view/default-view.component.theme';
@import 'app/photos/components/bulk-edit/bulk-edit.component.theme';
@import 'app/photos/components/sidebar-exif-table/sidebar-exif-table.component.theme';

@import 'app/shared/category-card/category-card.component.theme';
@import 'app/shared/category-list/category-list.component.theme';
@import 'app/shared/category-header/category-header.component.theme';
@import 'app/shared/comments/comments.component.theme';
@import 'app/shared/primary-nav/primary-nav-link/primary-nav-link.component.theme';
@import 'app/shared/primary-nav/primary-nav/primary-nav.component.theme';
@import 'app/shared/sidebar/sidebar-button/sidebar-button.component.theme';
@import 'app/shared/sidebar/sidebar-button-group/sidebar-button-group.component.theme';
@import 'app/shared/sidebar/sidebar-card-group/sidebar-card-group.component.theme';
@import 'app/shared/toolbar/toolbar/toolbar.component.theme';
@import 'app/shared/toolbar/toolbar-button/toolbar-button.component.theme';
@import 'app/shared/toolbar/toolbar-link/toolbar-link.component.theme';

@import 'app/stats/components/header/header.component.theme';

@import 'app/videos/components/video-list/video-list.component.theme';

@mixin mat-tooltip-background-override($theme) {
    $accent: map-get($theme, accent);

    mat-tooltip-component .mat-tooltip {
        background-color: mat-color($accent, 900) !important;
    }
}

// you only have to add additional componenets here (instead of in every theme class)
@mixin custom-components-theme($theme) {
    @include app-component-theme($theme);

    @include app-help-component-theme($theme);

    @include app-categories-year-list-component-theme($theme);

    @include app-category-card-component-theme($theme);
    @include app-category-list-component-theme($theme);
    @include app-video-list-component-theme($theme);

    @include app-photos-sidebar-exif-table-component-theme($theme);
    @include app-photos-photo-list-component-theme($theme);
    @include app-photos-photo-select-grid-component-theme($theme);
    @include app-photos-default-view-component-theme($theme);
    @include app-photos-bulk-edit-component-theme($theme);

    @include app-category-header-component-theme($theme);
    @include app-comments-component-theme($theme);
    @include app-primary-nav-component-theme($theme);
    @include app-primary-nav-link-component-theme($theme);
    @include app-sidebar-button-theme($theme);
    @include app-sidebar-button-group-component-theme($theme);
    @include app-sidebar-card-group-component-theme($theme);
    @include app-toolbar-component-theme($theme);
    @include app-toolbar-button-theme($theme);
    @include app-toolbar-link-theme($theme);

    @include app-stats-header-component-theme($theme);

    @include mat-tooltip-background-override($theme);
}

.maw-dark-theme {
    @include angular-material-theme($maw-dark-theme);
    @include custom-components-theme($maw-dark-theme);
}

.maw-light-theme {
    @include angular-material-theme($maw-light-theme);
    @include custom-components-theme($maw-light-theme);
}

.maw-mulled-wine-theme {
    @include angular-material-theme($maw-mulled-wine-theme);
    @include custom-components-theme($maw-mulled-wine-theme);
}

.maw-pale-night-theme {
    @include angular-material-theme($maw-pale-night-theme);
    @include custom-components-theme($maw-pale-night-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

img {
    &.rot90 {
        transform: rotate(-90deg);
    }

    &.rot180 {
        transform: rotate(-180deg);
    }

    &.rot270 {
        transform: rotate(-270deg);
    }

    &.rot90, &.rot270 {
        max-width: 100vh;
        height: 100vh;
    }
}

@media (max-width: $mobileBreakpoint) {
    .hide-on-mobile {
        display: none !important;
    }
}
