<app-layout-toolbar>
    <app-photos-grid-view-toolbar layout-toolbar></app-photos-grid-view-toolbar>

    <div layout-main>
        <div *ngIf="activePhoto$ | async as activePhoto" class="full-image" (click)="clearActivePhoto()">
            <img
                [src]="activePhoto.imageMd.url"
                [srcset]="getSourceset(activePhoto)"
                (swipeleft)="onSwipeLeft()"
                (swiperight)="onSwipeRight()"
                sizes="100vw"
                loading="eager" />
        </div>

        <app-shared-content-margin [margin]="margin$ | async" [ngStyle]="{ 'display': (activePhoto$ | async) === null ? 'block' : 'none' }">
            <div class="category-header">
                <app-shared-category-header
                    *ngIf="showBreadcrumbs$ | async"
                    [showCategoryAsLink]="true"
                    [category]="category$ | async">
                </app-shared-category-header>
            </div>

            <div class="photo-grid">
                <img
                    *ngFor="let photo of photos$ | async;"
                    [ngClass]="(thumbnailSize$ | async)?.klass"
                    [src]="photo.imageXsSq.url"
                    (click)="setActivePhoto(photo)"
                    loading="lazy" />
            </div>
        </app-shared-content-margin>
    </div>
</app-layout-toolbar>
