:host {
    background-color: #00000020;
    border: solid 1px #cc000040;;
}

.category a,
.category button,
.photo-list a,
.photo-list button {
    background-color: #66000020;
}

.mat-button {
    min-width: 36px;
    line-height: 28px;
    font-size: 18px;
}

.photo {
    border-left: solid 1px #ffffff33;
    border-right: solid 1px #ffffff33;

    & a,
    & button {
        background-color: #cc000020;
    }
}

.icon-sm {
    font-size: 10px;
}

.icon-md {
    font-size: 14px;
}
