<span class="category" *ngIf="isToolbarExpanded$ | async">
    <button mat-button (click)="onToggleCategoryTitle()">
        <mat-icon [inline]="true">title</mat-icon>
    </button>

    <a mat-button
        target="_blank"
        *ngIf="allowCategoryDownload && categoryDownloadUrl"
        [href]="categoryDownloadUrl">
        <mat-icon [inline]="true">save_alt</mat-icon>
    </a>
</span>

<span class="photo" *ngIf="isToolbarExpanded$ | async">
    <button mat-button (click)="onRotateCounterClockwise()">
        <mat-icon [inline]="true">rotate_left</mat-icon>
    </button>

    <button mat-button (click)="onRotateClockwise()">
        <mat-icon [inline]="true">rotate_right</mat-icon>
    </button>

    <button mat-button (click)="onToggleSlideshow()">
        <mat-icon [inline]="true" *ngIf="!(slideshowPlaying$ | async)">play_arrow</mat-icon>
        <mat-icon [inline]="true" *ngIf="slideshowPlaying$ | async">stop</mat-icon>
    </button>

    <a mat-button
        target="_blank"
        *ngIf="smDownloadUrl"
        [href]="smDownloadUrl">
        <mat-icon [inline]="true" class="icon-sm">photo</mat-icon>
    </a>

    <a mat-button
        target="_blank"
        *ngIf="mdDownloadUrl"
        [href]="mdDownloadUrl">
        <mat-icon [inline]="true" class="icon-md">photo</mat-icon>
    </a>

    <a mat-button
        target="_blank"
        *ngIf="lgDownloadUrl"
        [href]="lgDownloadUrl">
        <mat-icon [inline]="true">photo</mat-icon>
    </a>

    <a mat-button
        target="_blank"
        *ngIf="prtDownloadUrl"
        [href]="prtDownloadUrl">
        <mat-icon [inline]="true">photo</mat-icon>
    </a>

    <button mat-button (click)="onToggleFullscreen()">
        <mat-icon [inline]="true">fullscreen</mat-icon>
    </button>
</span>

<span class="photo-list" *ngIf="isToolbarExpanded$ | async">
    <button mat-button (click)="onToggleSize()">
        <mat-icon [inline]="true">photo_size_select_large</mat-icon>
    </button>
</span>

<span class="toolbar-control">
    <button mat-button (click)="onTogglePhotoListToolbar()">
        <mat-icon *ngIf="isToolbarExpanded$ | async" [inline]="true">close</mat-icon>
        <mat-icon *ngIf="!(isToolbarExpanded$ | async)" [inline]="true">more_horiz</mat-icon>
    </button>
</span>
