:host {
    background-color: #00000020;
    border: solid 1px #ffffff20;
}

.photo button {
    background-color: #cc000020;
}

.mat-button {
    min-width: 36px;
    line-height: 28px;
    font-size: 18px;
}
