<span class="photo">
    <button
        mat-button
        matTooltip="Previous"
        [disabled]="isFirst$ | async"
        (click)="onMovePrevious()">
        <mat-icon [inline]="true">chevron_left</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Next"
        [disabled]="isLast$ | async"
        (click)="onMoveNext()">
        <mat-icon [inline]="true">chevron_right</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Start/Stop Slideshow"
        (click)="onToggleSlideshow()">
        <mat-icon [inline]="true" *ngIf="!(slideshowPlaying$ | async)">play_arrow</mat-icon>
        <mat-icon [inline]="true" *ngIf="slideshowPlaying$ | async">stop</mat-icon>
    </button>

    <button
        mat-button
        matTooltip="Exit Fullscreen"
        (click)="onExitFullscreen()">
        <mat-icon [inline]="true">fullscreen_exit</mat-icon>
    </button>
</span>
