<div *ngIf="fullscreen" class="fullscreen">
    <app-photo-list-fullscreen-toolbar></app-photo-list-fullscreen-toolbar>
    <img [src]="activePhoto?.lgInfo?.path" />
</div>

<div *ngIf="!fullscreen" fxLayout="column" style="height: 100%;">
    <app-photo-list-toolbar [allowCategoryDownload]="allowCategoryDownload"></app-photo-list-toolbar>
    <app-category-header *ngIf="settings?.photoListShowCategoryBreadcrumbs" [showCategoryAsLink]="showCategoryAsLink" [category]="category" fxFlex="0 0 auto"></app-category-header>

    <div *ngIf="photos" [class.pad-top]="!settings?.showCategoryBreadcrumbs" fxFlex="1 1 auto" fxFlexAlign="center">
        <img [src]="activePhoto?.mdInfo?.path" [class]="effects?.rotation?.klass" [style.filter]="getEffectStyles()" />
    </div>

    <app-photo-list
        *ngIf="photos && settings?.photoListShowPhotoList"
        [photos]="photos"
        [thumbnailSize]="settings?.photoListThumbnailSize"
        (select)="onSelectPhoto($event)"
        [selectedPhoto]="activePhoto"
        fxFlex="0 0 auto">
    </app-photo-list>
</div>
