img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;

    &.rot90 {
        transform: rotate(-90deg);
    }

    &.rot180 {
        transform: rotate(-180deg);
    }

    &.rot270 {
        transform: rotate(-270deg);
    }

    &.rot90, &.rot270 {
        max-width: 100vh;
        height: 100vh;
    }
}

@supports (-moz-appearance:none) {
    img {
        /* mimic the object-fit:contain that chrome is doing */
        max-height: calc(100vh - 162px);
    }
}

.photo-grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;
    height: 100vh;
}

.main-photo-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}

.category-header {
    text-align: center;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table-cell;
    z-index: 1200; /* static nav in bootstrap has zindex of 1000, make sure this is greater */

    & img {
        display: block;
        margin:auto;
        max-width:100%;
        max-height:100%;
    }
}
