<google-map
    *ngIf="images"
    height="100%"
    width="100%"
    [options]="options"
    [zoom]="zoom"
    (maptypeidChanged)="onMapTypeChange()"
    (zoomChanged)="onZoomChange()"
    #map
>
    <map-marker
        *ngFor="let image of images"
        [options]="getMarkerOptions(marker, image)"
        (mapClick)="selectActivePhoto(marker, image)"
        #marker="mapMarker"
    >
    </map-marker>
    <map-info-window #infoWindow>
        <img class="info-window-image" [src]="activeImageUrl" />
    </map-info-window>
</google-map>
