<app-sidebar-card
    [icon]="'tune'"
    [title]="'EXIF Data'">

    <mat-tab-group [dynamicHeight]="true" [disablePagination]="true">
        <mat-tab [label]="'EXIF'">
            <app-photos-sidebar-exif-table [exifData]="(exifContainer$ | async)?.exif"></app-photos-sidebar-exif-table>
        </mat-tab>
        <mat-tab [label]="'Maker'">
            <app-photos-sidebar-exif-table [exifData]="(exifContainer$ | async)?.maker"></app-photos-sidebar-exif-table>
        </mat-tab>
        <mat-tab [label]="'Composite'">
            <app-photos-sidebar-exif-table [exifData]="(exifContainer$ | async)?.composite"></app-photos-sidebar-exif-table>
        </mat-tab>
    </mat-tab-group>

</app-sidebar-card>
