.vertical {
    & .toolbar {
        min-height: 100vh;
    }

    & .panel-contents {
        width: 500px;
    }

    & .mat-button {
        margin-bottom: 4px;
    }
}

.horizontal {
    & .toolbar {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    & .panel-contents {
        width: 100%;
    }
}
