.menu-button {
    width: 100%;
}

.panel-contents {
    padding: 0;
}

.mat-button {
    min-width: 28px;
    line-height: 28px;
    font-size: 16px;
    padding: 0;
}

.vertical {
    & .toolbar {
        min-height: 100vh;
    }

    & .panel-contents {
        width: 500px;
    }

    & .mat-button {
        margin-bottom: 4px;
    }
}

.horizontal {
    & .toolbar {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    & .panel-contents {
        width: 100%;
    }
}

.panel-heading {
    padding-left: 4px;
    width: 100%;
}

.widget {
    margin-left: 4px;
    margin-bottom: 12px;
    padding-right: 4px;
}

.toolbar_title {
    transform: rotate(90deg);
    text-transform: uppercase;
    font-weight: 700;
    width: 14px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
