<div fxLayout>
    <div *ngIf="endSidenavExpanded$ | async" class="panel-contents" fxLayout="column">
        <div fxLayout="column" fxFlex="1 1 auto">
            <div *ngIf="showRatings$ | async" class="panel-heading" fxFlex="none">Rating</div>
            <app-rating
                class="widget"
                *ngIf="showRatings$ | async"
                [yourRating]="(rating$ | async)?.userRating"
                [avgRating]="(rating$ | async)?.averageRating"
                (rate)="onRate($event)">
            </app-rating>

            <div *ngIf="showComments$ | async" class="panel-heading" fxFlex="none">Comments</div>
            <app-comments
                fxFlex
                class="widget"
                *ngIf="showComments$ | async"
                [comments]="comments$ | async"
                (comment)="onComment($event)"
                #comments>
            </app-comments>

            <div *ngIf="showMinimap$ | async" class="panel-heading" fxFlex="none">Mini-map</div>
            <app-minimap
                class="widget"
                *ngIf="showMinimap$ | async"
                [lat]="latitude$ | async"
                [lng]="longitude$ | async">
            </app-minimap>
        </div>
    </div>

    <div fxLayout="column" fxFlex="1 1 auto" class="toolbar">
        <button
            class="menu-button"
            mat-button
            matTooltip="Show/Hide Info Panel (I)"
            matTooltipPosition="before"
            (click)="toggleEndSidenav()"
            #toggleInfoPanelButton>
            <mat-icon *ngIf="endSidenavExpanded$ | async" [inline]="true">chevron_right</mat-icon>
            <mat-icon *ngIf="!(endSidenavExpanded$ | async)" [inline]="true">chevron_left</mat-icon>
        </button>

        <button
            mat-button
            matTooltip="Show/Hide Ratings (R)"
            matTooltipPosition="before"
            [disabled]="!(endSidenavExpanded$ | async)"
            [class.notactive]="!(showRatings$ | async)"
            (click)="toggleRatings()"
            #toggleRatingsButton>
            <mat-icon [inline]="true">star</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Comments (C)"
            matTooltipPosition="before"
            [disabled]="!(endSidenavExpanded$ | async)"
            [class.notactive]="!(showComments$ | async)"
            (click)="toggleComments()"
            #toggleCommentsButton>
            <mat-icon [inline]="true">comment</mat-icon>
        </button>
        <button
            mat-button
            matTooltip="Show/Hide Mini-map (M)"
            matTooltipPosition="before"
            [disabled]="!(endSidenavExpanded$ | async)"
            [class.notactive]="!(showMinimap$ | async)"
            (click)="toggleMinimap()"
            #toggleMinimapButton>
            <mat-icon [inline]="true">map</mat-icon>
        </button>

        <span class="toolbar_title">Details</span>
    </div>
</div>
