@import '../../../../variables';

.main-photo-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto max-content;
    height: 100vh;
    padding: 0 4px;
}

.category-header {
    text-align: center;
    z-index: 10;
}

@media (max-width: $mobileBreakpoint) {
    .main-photo-grid {
        height: calc(100vh - 36px - 29.25px);  /* 15 px to give room for the scrollbar */
        padding: 0;
    }
}
