@import '../../../variables';

.filter-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    justify-content: center;
}

mat-form-field {
    width: 640px;
    max-width:80vw;
}

button {
    margin-left: 8px;
}

/* the next 2 rules are to hide some of the ugly chrome autocomplete styling */
/* https://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs */
input {
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}

@media (max-width: $mobileBreakpoint) {
    .filter-grid {
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content;
    }

    button {
        margin: -1em 0 0.5em 0;
    }
}
